{% extends '@theme/layout/form-theme-horizontal.html.twig' %}
{% use 'form/blocks.html.twig' %}

{% block date_widget -%}
    {% set format = javascript_format('date') %}
    {% set attr = attr|merge({'autocomplete': 'off'}) -%}
    {%- if datetime is not defined or not datetime -%}
        {% set attr = attr|merge({'data-datepicker': 'on', 'data-format': format, 'placeholder': format|upper}) -%}
    {%- endif -%}
    {%- if widget != 'single_text' -%}
        {{- parent() -}}
    {%- else -%}
        {%- if datetime is not defined or not datetime -%}
            <div class="input-group">
                <div class="input-group-text">
                    <a href="#" class="kimai-date-widget" data-format="{{ format }}" data-target="{{ id }}">{{ icon('calendar') }}</a>
                </div>
                {{- parent() -}}
            </div>
        {%- else -%}
            <div class="input-group-text">
                {{ icon('calendar') }}
            </div>
            {{- parent() -}}
        {%- endif -%}
    {%- endif -%}
{%- endblock %}

{% block time_widget %}
    {%- if widget != 'single_text' -%}
        {{- parent() -}}
    {%- else -%}
        {%- if datetime is not defined or not datetime -%}
            <div class="input-group">
                <div class="input-group-text">
                    {{ icon('clock') }}
                </div>
                {% if type is not defined or type != 'time' %}
                    {% if attr.class is defined %}
                        {% set class = attr.class ~ ' timepicker' %}
                    {% else %}
                        {% set class = ' timepicker' %}
                    {% endif %}
                    {% set attr = attr|merge({'class' : class, 'data-timepicker':'on'}) %}
                {% endif %}
                {{- parent() -}}
            </div>
        {% else %}
            <div class="input-group-text add-on">
                {{ icon('clock') }}
            </div>
            {{- parent() -}}
        {% endif %}
    {% endif %}
{% endblock %}

{% block tel_widget -%}
    <div class="input-group">
        <div class="input-group-text">
            {{ icon(attr.icon ?? 'phone') }}
        </div>
        {{- parent() -}}
    </div>
{%- endblock tel_widget %}

{% block url_widget -%}
    <div class="input-group">
        <div class="input-group-text">
            {{ icon('home') }}
        </div>
        {{- parent() -}}
    </div>
{%- endblock url_widget %}

{% block email_widget -%}
    <div class="input-group">
        <div class="input-group-text">
            {{ icon('email') }}
        </div>
        {{- parent() -}}
    </div>
{%- endblock email_widget %}

{% block password_widget -%}
    <div class="input-group">
        <div class="input-group-text">
            {{ icon('password') }}
        </div>
        {{- parent() -}}
    </div>
{%- endblock password_widget %}