{% extends "@AdminLTE/layout/form-theme.html.twig" %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        {% if attr.class is defined %}
            {% set class = attr.class ~ ' timepicker' %}
        {% else %}
            {% set class = ' timepicker' %}
        {% endif %}
        {% set class = class ~ ' datepicker' %}
        {% set attr = attr|merge({'class' : class}) %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set date_pattern = '<div class="row">' ~ date_pattern ~ '</div>'|raw %}
        {{ date_pattern|replace({
            '{{ year }}' : '<div class="col-xs-4">{{ year }}</div>',
            '{{ month }}' : '<div class="col-xs-4">{{ month }}</div>',
            '{{ day }}' : '<div class="col-xs-4">{{ day }}</div>',
        })|raw|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
        })|raw }}
    {% endif %}
{% endblock %}

{#% block form_label %}{% endblock %#}
