{% if config('theme.show_about') %}
<div class="row text-center align-items-center flex-row-reverse">
    <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
                <a href="{{ ''|docu_link }}" class="link-secondary" target="_blank">
                    {{ 'help'|trans({}, 'about') }}
                </a>
            </li>
            <li class="list-inline-item">
                <a class="link-secondary" href="{{ path('about') }}">
                    {{ 'about.title'|trans({}, 'about') }}
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ constant('App\\Constants::HOMEPAGE') }}/donate/" target="_blank" class="link-secondary">
                    <i class="fas fa-heart text-pink"></i>
                    {{ 'donate'|trans({}, 'about') }}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
                Copyright &copy; <a href="https://www.kevinpapst.de/" target="_blank" class="link-secondary">Kevin Papst</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ constant('App\\Constants::HOMEPAGE') }}" class="link-secondary" rel="noopener">
                    {{ constant('App\\Constants::SOFTWARE') }}
                    {{ constant('App\\Constants::VERSION') }}
                    {{ constant('App\\Constants::STATUS') }}
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}