{% extends 'base.html.twig' %}
{% import "macros/actions.html.twig" as actions %}

{% block page_title %}{{ 'about.title'|trans({}, 'about') }}{% endblock %}
{% block page_actions %}{{ actions.about('index') }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3">

            <div class="box box-primary">
                <div class="box-body">
                    <img src="{{ asset('apple-touch-icon.png') }}" class="profile-user-img img-responsive img-circle" alt="Kimai logo" style="border: 0;">
                    <h3 class="profile-username text-center">{{ constant('App\\Constants::SOFTWARE') }}</h3>

                    <p class="text-muted text-center">
                        {{ constant('App\\Constants::VERSION') }}
                        {{ constant('App\\Constants::STATUS') }}
                        ({{ constant('App\\Constants::NAME') }})
                    </p>

                    <hr>

                    <ul class="nav nav-stacked">
                        <li>
                            <a href="{{ ''|docu_link }}" target="_blank">
                                <i class="menu-icon fas fa-question bg-navy"></i>
                                {{ 'help'|trans({}, 'about') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('App\\Constants::GITHUB') }}" target="_blank">
                                <i class="menu-icon fab fa-github bg-gray"></i>
                                {{ 'support'|trans({}, 'about') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ constant('App\\Constants::HOMEPAGE') }}" target="_blank">
                                <i class="menu-icon fa fa-home bg-green"></i>
                                {{ 'website'|trans({}, 'about') }}
                            </a>
                        </li>
                    </ul>

                    <hr>

                    <p class="text-center">
                        Made with ♥ by <a href="https://www.kevinpapst.de/">Kevin Papst</a> and <a href="{{ constant('App\\Constants::GITHUB') }}graphs/contributors" target="_blank">great contributors</a>.
                    </p>
                </div>
            </div>

            {% block about_box %}{% endblock %}

        </div>
        <div class="col-md-9">
            {% block about %}{% endblock %}
        </div>
    </div>
{% endblock %}
