{% extends 'about/layout.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_subtitle %}{{ 'about.subtitle'|trans({}, 'about') }}{% endblock %}

{% block about_box %}
    {% if is_granted('system_actions') %}
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'boxtype': 'warning'} %}
            {% block box_title %}{{ 'label.actions'|trans }}{% endblock %}
            {% block box_body %}
                <p>
                    <a href="{{ path('system_flush_cache') }}" class="btn btn-primary" onclick="$(this).html('Clear cache <i class=\'fas fa-spinner fa-spin\'></i>')">Clear cache</a>
                </p>

                {% if content_action is defined and content_action is not empty %}
                    <pre>
                    {{ content_action }}
                    </pre>
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block about %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Environment{% endblock %}
        {% block box_body %}
            <dl>
                {% for name, value in dotenv %}
                    <dt>{{ name }}</dt>
                    <dd>{{ value }}</dd>
                {% endfor %}
            </dl>
        {% endblock %}
    {% endembed %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}PHP{% endblock %}
        {% block box_body %}
            <dl>
                <dt>Version</dt><dd>{{ constant('PHP_VERSION') }}</dd>
                <dt>Modules</dt><dd>{{ modules|join(', ') }}</dd>
                {% for name, value in settings %}
                    <dt>{{ name }}</dt>
                    <dd>
                        {% if value is empty %}
                            <i>unknown</i>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        {% endblock %}
    {% endembed %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Server{% endblock %}
        {% block box_body %}
            <dl>
                {% for name, value in info %}
                    <dt>{{ name }}</dt>
                    <dd>{{ value|raw }}</dd>
                {% endfor %}
            </dl>
        {% endblock %}
    {% endembed %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Special thanks ...{% endblock %}
        {% block box_body %}
            <p>... to the authors of the following libraries, Kimai wouldn't be possible without them:</p>
            <ul>
                <li>AdminLTE: <a href="https://adminlte.io" target="_blank">https://adminlte.io</a></li>
                <li>Bootstrap: <a href="https://getbootstrap.com" target="_blank">https://getbootstrap.com</a></li>
                <li>Bootstrap-Select: <a href="https://developer.snapappointments.com/bootstrap-select" target="_blank">https://developer.snapappointments.com/bootstrap-select</a></li>
                <li>chart.js: <a href="https://www.chartjs.org" target="_blank">https://www.chartjs.org</a></li>
                <li>DateRangePicker: <a href="http://www.daterangepicker.com/" target="_blank">http://www.daterangepicker.com/</a></li>
                <li>Doctrine: <a href="https://www.doctrine-project.org" target="_blank">https://www.doctrine-project.org</a></li>
                <li>FontAwesome: <a href="https://fontawesome.com" target="_blank">https://fontawesome.com</a></li>
                <li>FullCalendar: <a href="https://fullcalendar.io" target="_blank">https://fullcalendar.io</a></li>
                <li>jQuery: <a href="https://jquery.com" target="_blank">https://jquery.com</a></li>
                <li>jQuery UI: <a href="https://jqueryui.com" target="_blank">http://jqueryui.com</a></li>
                <li>MomentJS: <a href="https://momentjs.com" target="_blank">https://momentjs.com</a></li>
                <li>Symfony: <a href="https://symfony.com" target="_blank">https://symfony.com</a></li>
                <li>...</li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}
