{% extends 'about/layout.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_subtitle %}{{ 'about.subtitle'|trans({}, 'about') }}{% endblock %}

{% block about %}

    <div class="box">
        <div class="box-body about_debug">

            {% if is_granted('system_actions') %}
                <h3>{{ 'label.actions'|trans }}</h3>
                <p>
                    <a href="{{ path('system_flush_cache') }}" class="btn btn-primary" onclick="$(this).html('Clear cache <i class=\'fas fa-spinner fa-spin\'></i>')">Clear cache</a>
                </p>

                {% if content_action is defined and content_action is not empty %}
                <pre>
                    {{ content_action }}
                </pre>
                {% endif %}

                <hr>
            {% endif %}

            <h3>Environment</h3>
            <dl>
                {% for name, value in dotenv %}
                    <dt>{{ name }}</dt>
                    <dd>{{ value }}</dd>
                {% endfor %}
            </dl>

            <hr>

            <h3>PHP</h3>
            <dl>
                <dt>Version</dt><dd>{{ constant('PHP_VERSION') }}</dd>
                <dt>Modules</dt><dd>{{ modules|join(', ') }}</dd>
                {% for name, value in settings %}
                    <dt>{{ name }}</dt>
                    <dd>
                        {% if value is empty %}
                            <i>unknown</i>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>

            <hr>

            <h3>Server</h3>
            <dl>
                {% for name, value in info %}
                    <dt>{{ name }}</dt>
                    <dd>{{ value|raw }}</dd>
                {% endfor %}
            </dl>

        </div>
    </div>
{% endblock %}
