{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'about.title'|trans({}, 'about') }}{% endblock %}
{% block page_subtitle %}{{ 'about.subtitle'|trans({}, 'about') }}{% endblock %}

{% block main %}
    {{ widgets.callout('info', 'Thanks for using Kimai ' ~ constant('App\\Constants::VERSION') ~ ' ' ~  constant('App\\Constants::STATUS') ~ ' (' ~ constant('App\\Constants::NAME') ~ ')', 'Kimai ' ~ constant('App\\Constants::VERSION'), 'fas fa-thumbs-up') }}
    <div class="row">
        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#kimai" data-toggle="tab" aria-expanded="true">{{ 'tab.plugins'|trans({}, 'about') }}</a></li>
                    <li><a href="#system" data-toggle="tab" aria-expanded="true">{{ 'tab.system'|trans({}, 'about') }}</a></li>
                    <li><a href="#license" data-toggle="tab" aria-expanded="true">{{ 'tab.license'|trans({}, 'about') }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="kimai">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.licensed'|trans({}, 'about') }}</th>
                                <th>{{ 'label.valid_until'|trans({}, 'about') }}</th>
                            </tr>
                            {% if cloud.plugins|length == 0 %}
                                {{ widgets.callout('warning', 'plugin.none_installed'|trans({}, 'about')) }}
                            {% endif %}
                            {% for plugin in cloud.plugins %}
                                <tr>
                                    <td>{{ plugin.name }}</td>
                                    <td>
                                        {% if plugin.licensed %}
                                            {{ widgets.label('yes', 'success') }}
                                        {% else %}
                                            {{ widgets.label('no', 'danger') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if plugin.expired %}
                                            {% if plugin.license %}
                                                {{ widgets.label(plugin.license.validUntil|date_full , 'warning') }}
                                            {% else %}
                                                {{ widgets.label('no' , 'danger') }}
                                            {% endif %}
                                        {% else %}
                                            {{ widgets.label('no', 'success') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="form-group">
                            <label class="control-label" for="license_key">{{ 'label.license_key'|trans({}, 'about') }}</label>
                            <div class="input-group">
                                <div class="input-group-addon" onclick="$('#license_key').select();document.execCommand('copy');">
                                    <i class="fas fa-key"></i>
                                </div>
                                <input type="text" id="license_key" class="form-control" disabled="disabled" value="{{ cloud.publicKey }}">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="system">

                        <div class="box-group" id="accordion">
                            <div class="panel box">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="" aria-expanded="true">
                                            Environment
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
                                    <div class="box-body">

                                        <dl>
                                            {% for name, value in dotenv %}
                                                <dt>{{ name }}</dt>
                                                <dd>{{ value }}</dd>
                                            {% endfor %}
                                        </dl>

                                    </div>
                                </div>
                            </div>
                            <div class="panel box">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                            PHP
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="box-body">

                                        <dl>
                                            <dt>Version</dt><dd>{{ constant('PHP_VERSION') }}</dd>
                                            <dt>Modules</dt><dd>{{ modules|join(', ') }}</dd>
                                            {% for name, value in settings %}
                                                <dt>{{ name }}</dt>
                                                <dd>
                                                    {% if value is empty %}
                                                        <i>unknown</i>
                                                    {% else %}
                                                        {{ value }}
                                                    {% endif %}
                                                </dd>
                                            {% endfor %}
                                        </dl>

                                    </div>
                                </div>
                            </div>
                            <div class="panel box">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">
                                            Server
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="box-body">

                                        <dl>
                                            {% for name, value in info %}
                                                <dt>{{ name }}</dt>
                                                <dd>{{ value|raw }}</dd>
                                            {% endfor %}
                                        </dl>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="license">
                        <pre>{{ license }}</pre>
                        <p>
                            <a href="https://choosealicense.com/licenses/mit/" target="_blank">choosealicense.com</a>,
                            <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">wikipedia.org</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
