{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "team/actions.html.twig" as actions %}

{% block page_title %}{{ 'teams.title'|trans({}, 'teams') }}{% endblock %}
{% block page_subtitle %}{{ 'teams.subtitle'|trans({}, 'teams') }}{% endblock %}
{% block page_actions %}{{ actions.team(team, 'edit') }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        {{ include('default/_form.html.twig', {
            'title': team.name|default('create'|trans),
            'form': form,
            'back': path('admin_team')
        }) }}
    </div>
    <div class="col-md-6">
        {% if not customerForm is null %}
        {{ include('default/_form.html.twig', {
            'title': 'teams.customer_access'|trans({}, 'teams'),
            'form': customerForm,
        }) }}
        {% endif %}
        
        {% if not projectForm is null %}
        {{ include('default/_form.html.twig', {
            'title': 'teams.project_access'|trans({}, 'teams'),
            'form': projectForm,
        }) }}
        {% endif %}
    </div>
</div>
{% endblock %}
