{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "tags/actions.html.twig" as actions %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'tags.title'|trans({}, 'tags') }}{% endblock %}
{% block page_search %}{{ toolbar.dropDownSearch(toolbarForm) }}{% endblock %}
{% block page_actions %}{{ actions.tags('index') }}{% endblock %}

{% block main %}

    {% if tags|length == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
        <script type="text/javascript">
            document.addEventListener('kimai.initialized', function() {
                KimaiReloadPageWidget.create('kimai.tagUpdate');
            });
        </script>
    {% else %}

        {% set columns = {
            'id': {'class': 'alwaysVisible multiCheckbox', 'orderBy': false, 'title': false, 'html_before': tables.datatable_multiupdate_all()},
            'name': {'class': 'alwaysVisible'},
            'amount': {'class': 'text-center w-min'},
            'actions': {'class': 'actions alwaysVisible'},
        } %}

        {% set tableName = 'admin_tags' %}
        {% set manageAllowed = is_granted('manage_tag') %}

        {{ tables.datatable_header(tableName, columns, query, {'reload': 'kimai.tagUpdate'}) }}
        {% for tag in tags %}
            {% set type = 'primary' %}
            {% if tag.amount == 0 %}
                {% set type = 'warning' %}
            {% endif %}

            <tr{% if manageAllowed %} class="modal-ajax-form open-edit" data-href="{{ path('tags_edit', {'id': tag.id}) }}"{% endif %}>
                <td class="text-nowrap">{{ tables.datatable_multiupdate_row(tag.id) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'name') }}">
                    {{ widgets.label_color_dot('tag', true, tag.name, null, tag.color|default('#00a65a')) }}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'amount') }}">{{ widgets.label(tag.amount, type) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'actions') }}">
                    {{ actions.tag(tag, 'index') }}
                </td>
            </tr>
        {% endfor %}
        {{ tables.data_table_footer(tags, 'tags_paginated', multiUpdateForm) }}

    {% endif %}

{% endblock %}
