{% extends 'datatable.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}

{% set manageAllowed = is_granted('manage_tag') %}

{% block datatable_row %}
    {% set type = '' %}
    {% if entry.amount == 0 %}
        {% set type = 'bg-yellow' %}
    {% endif %}

    <tr{% if manageAllowed %} class="modal-ajax-form open-edit" data-href="{{ path('tags_edit', {'id': entry.id}) }}"{% endif %}>
        {% if dataTable.hasBatchForm() %}
            <td class="text-nowrap">
                {{ tables.datatable_multiupdate_row(entry.id) }}
            </td>
        {% endif %}
        <td class="{{ tables.class(dataTable, 'name') }}">
            {{ widgets.label_name(entry.name, entry.color|colorize(entry.name)) }}
        </td>
        <td class="{{ tables.class(dataTable, 'amount') }}">{{ widgets.badge_counter(entry.amount, null, type) }}</td>
        <td class="{{ tables.class(dataTable, 'actions') }}">
            {% set event = actions(app.user, 'tag', 'index', {'tag': entry}) %}
            {{ widgets.table_actions(event.actions) }}
        </td>
    </tr>
{% endblock %}
