{% extends 'reporting/layout.html.twig' %}

{% block report_form %}
    {{ form_start(form, {'attr': {'class': 'form-reporting', 'id': 'report-form'}}) }}
    <div class="btn-list w-100">
        {{ form_row(form.customer, {'label': false, 'placeholder': 'please_choose'}) }}
        {{ form_widget(form.date) }}
        {{ form_widget(form.sumType) }}
        {% from '@theme/components/buttons.html.twig' import submit_button %}
        {{ submit_button('download', {'attr': {'formaction': path(export_route)}, 'icon': 'download', 'combined': false}, 'primary') }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block report %}

    {% embed '@theme/embeds/card.html.twig' %}
        {% from "macros/widgets.html.twig" import nothing_found %}
        {% block box_before %}
            {{ form_start(form, {'attr': {'class': 'form-reporting', 'id': 'report-form'}}) }}
        {% endblock %}
        {% block box_after %}
            {{ form_end(form) }}
        {% endblock %}
        {% block box_body_class %} table-responsive {% if stats is not empty %}p-0{% endif %}{% endblock %}
        {% block box_body %}
            {% if stats is empty %}
                {{ nothing_found() }}
            {% else %}
                {% embed 'reporting/customer/monthly_projects_data.html.twig' with {'dataTypeFormat': null, 'stats': stats, 'dataType': dataType, 'decimal': decimal} only %}
                    {% set rowspanStyle = 'vertical-align: middle' %}
                {% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}
