{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'invoice.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'invoice.subtitle'|trans }}{% endblock %}
{% block page_actions %}
    {% set actions = {'filter': '#collapseInvoice'} %}
    {% if is_granted('create_invoice_template') %}
        {% set actions = actions|merge({'create': path('admin_invoice_template_create')}) %}
    {% endif %}
    {% if is_granted('view_invoice_template') %}
        {% set actions = actions|merge({'list': path('admin_invoice_template')}) %}
    {% endif %}
    {{ widgets.page_actions(actions) }}
{% endblock %}

{% block page_content_class %}{{ parent() }} invoice{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(form, 'collapseInvoice', true) }}
{% endblock %}

{% block main_after %}
    <div class="clearfix"></div>
{% endblock %}

{% block main %}

    {% if model.entries is empty %}
        {{ widgets.callout('warning', 'invoice.select_filter') }}
    {% else %}
        {{ include('invoice/preview.html.twig') }}

        {% if is_granted('create_invoice') %}
            <div class="row no-print">
                <div class="col-xs-12">
                    <button type="button" id="print-invoice-button" class="btn btn-success pull-right">
                        <i class="{{ 'print'|icon }}"></i> {{ 'button.print'|trans }}
                    </button>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('create_invoice') %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on('click', '#print-invoice-button', function() {
                var prevAction = $( "#invoice-print-form" ).attr('action');
                $( "#invoice-print-form" ).attr('target', '_blank').attr('action', '{{ path('invoice_print') }}');
                $( "#invoice-print-form" ).submit();
                $( "#invoice-print-form" ).removeAttr('target').attr('action', prevAction);
            });
        });
    </script>
    {% endif %}
{% endblock %}
