{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'invoice.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'invoice.subtitle'|trans }}{% endblock %}
{% block page_actions %}{{ widgets.page_actions({'filter': '#collapseInvoice', 'create': path('admin_invoice_template_create'), 'list': path('admin_invoice_template')}) }}{% endblock %}

{% block main_content_class %}invoice{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(form, 'collapseInvoice', true) }}
{% endblock %}

{% block main_after %}
    <div class="clearfix"></div>
{% endblock %}

{% block main %}

    {% if model.entries is empty or action is empty %}
        {{ widgets.callout('warning', 'invoice.select_filter') }}
    {% else %}
        {{ render(controller(action, {'model': model, 'appRequest': app.request})) }}
    {% endif %}

{% endblock %}
