{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'invoice.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'invoice.subtitle'|trans }}{% endblock %}
{% block page_actions %}{{ widgets.page_actions({'filter': '#collapseInvoice', 'create': path('admin_invoice_template_create'), 'list': path('admin_invoice_template')}) }}{% endblock %}

{% block page_content_class %}{{ parent() }} invoice{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(form, 'collapseInvoice', true) }}
{% endblock %}

{% block main_after %}
    <div class="clearfix"></div>
{% endblock %}

{% block main %}

    {% if model.entries is empty %}
        {{ widgets.callout('warning', 'invoice.select_filter') }}
    {% else %}

        {{ include('invoice/preview.html.twig') }}

        <div class="row no-print">
            <div class="col-xs-12">
                <button type="button" id="print-invoice-button" class="btn btn-success pull-right">
                    <i class="{{ 'print'|icon }}"></i> {{ 'button.print'|trans }}
                </button>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {# we do not call parent() as we use a custom built for the frontend assets and don't want the default <script> #}
    <script type="text/javascript">
        $(document).ready(function () {
            $( "#print-invoice-button" ).click(function() {
                var prevAction = $( "#invoice-print-form" ).attr('action');
                $( "#invoice-print-form" ).attr('target', '_blank').attr('action', '{{ path('invoice_print') }}');
                $( "#invoice-print-form" ).submit();
                $( "#invoice-print-form" ).removeAttr('target').attr('action', prevAction);
            });
        });
    </script>
{% endblock %}
