{% extends '@theme/security/login.html.twig' %}

{% block logo_login %}{% include 'partials/logo_login.html.twig' %}{% endblock %}
{% block title %}{{- get_title() -}}{% endblock %}

{% block head %}
    {{ parent() }}
    {% include 'partials/head.html.twig' %}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::HTML_HEAD')) %}
    {{ event.content|raw }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::STYLESHEET')) %}
    {{ event.content|raw }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::JAVASCRIPT')) %}
    {{ event.content|raw }}
{% endblock %}

{% block login_social_auth %}
    {% if kimai_config.samlActive %}
        {% if kimai_config.loginFormActive %}
            <div class="hr-text">{{ 'or'|trans({}, 'TablerBundle') }}</div>
        {% endif %}
        <div class="card-body">
            <div class="row">
                <div class="col text-center">
                    <a href="{{ path('saml_login') }}" tabindex="50" class="btn btn-white w-50">
                        {% set provider = kimai_config.samlProvider %}
                        {% if provider is not null %}
                            <i class="icon fab fa-{{ provider}} text-{{ provider }}"></i>
                        {% endif %}
                        {{ kimai_config.samlTitle|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block login_form %}
    {% if kimai_config.loginFormActive %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block password_forgotten %}
    {% if kimai_config.passwordResetActive %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block registration %}
    {% if kimai_config.selfRegistrationActive %}
        {{ parent() }}
    {% endif %}
{% endblock %}
