{% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'form': form, 'comments': comments, 'route_pin': route_pin|default(null), 'route_delete': route_delete|default(null)} %}
    {% import "macros/widgets.html.twig" as widgets %}
    {% block box_title %}{{ 'label.comment'|trans }}{% endblock %}
    {% block box_attributes %}id="comments_box"{% endblock %}
    {% block box_body_class %}box-comments{% endblock %}
    {% block box_body %}
        {% set replacer = {} %}
        {% for pref in app.user.preferences %}
            {% set replacer = replacer|merge({('{{user.' ~ pref.name ~ '}}'): pref.value}) %}
        {% endfor %}
        {% if comments|length == 0 %}
            {{ 'error.no_comments_found'|trans }}
        {% endif %}
        {% for comment in comments %}
            <div class="box-comment">
                {{ widgets.user_avatar(comment.createdBy, false, 'img-sm') }}
                <div class="comment-text">
                    <span class="username">
                        {{ widgets.username(comment.createdBy) }}
                        <span class="text-muted pull-right">
                            {% if route_pin is not null %}
                                <a href="{{ path(route_pin, {'id': comment.id}) }}" class="btn btn-default btn-xs {% if comment.pinned %}active{% endif %}"><i class="{{ 'pin'|icon }}"></i></a>
                            {% endif %}
                            {% if route_delete is not null %}
                                <a href="{{ path(route_delete, {'id': comment.id}) }}" class="confirmation-link btn btn-default btn-xs" data-method="POST" data-question="confirm.delete" data-msg-error="action.delete.error" data-msg-success="action.delete.success"><i class="{{ 'delete'|icon }}"></i></a>
                            {% endif %}
                            {{ comment.createdAt|date_full }}
                        </span>
                    </span>
                    {{ comment.message|replace(replacer)|md2html }}
                </div>
            </div>
        {% endfor %}
    {% endblock %}
    {% block box_footer -%}
        {% if form is not null %}
            {{ form_start(form) }}
            <div class="input-group">
                {{ widgets.user_avatar(app.user, false, 'img-responsive img-sm') }}
                <div class="img-push">
                    {{ form_widget(form.message) }}
                </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        {{ 'action.save'|trans }} 
                    </button>
                </span>
            </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    {%- endblock %}
{% endembed %}
