{% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'form': form, 'comments': comments, 'route_pin': route_pin|default(null), 'route_delete': route_delete|default(null), 'delete_by_user': delete_by_user|default(false), 'csrf_delete': csrf_token(csrf_delete), 'csrf_pin': csrf_token(csrf_pin)} %}
    {% import "macros/widgets.html.twig" as widgets %}
    {% block box_title %}{{ 'label.comment'|trans }}{% endblock %}
    {% block box_attributes %}id="comments_box"{% endblock %}
    {% block box_body_class %}box-body-scrollable{% endblock %}
    {% block box_body %}
        {% set replacer = {} %}
        {% for pref in app.user.preferences %}
            {% set replacer = replacer|merge({('{{user.' ~ pref.name ~ '}}'): pref.value}) %}
        {% endfor %}
        {% if comments|length == 0 %}
            {{ 'error.no_comments_found'|trans }}
        {% else %}
            {% for comment in comments %}
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">
                            {{ widgets.username(comment.createdBy) }}
                        </span>
                        <span class="direct-chat-timestamp pull-left">
                            &nbsp;
                            {{ comment.createdAt|date_full }}
                            &nbsp;
                        </span>
                        <span class="pull-right">
                        {% if route_pin is not null %}
                            <a href="{{ path(route_pin, {'id': comment.id, 'token': csrf_pin}) }}" class="btn btn-default btn-xs {% if comment.pinned %}active{% endif %}"><i class="{{ 'pin'|icon }}"></i></a>
                        {% elseif comment.pinned %}
                            <i class="{{ 'pin'|icon }}"></i>
                        {% endif %}
                        {% if route_delete is not null and ((not delete_by_user) or (delete_by_user and comment.createdBy.id == app.user.id)) %}
                            <a href="{{ path(route_delete, {'id': comment.id, 'token': csrf_delete}) }}" class="confirmation-link btn btn-default btn-xs" data-question="confirm.delete"><i class="{{ 'delete'|icon }}"></i></a>
                        {% endif %}
                        </span>
                    </div>
                    {{ widgets.user_avatar(comment.createdBy, false, 'direct-chat-img img-sm') }}
                    <div class="direct-chat-text">
                        {{ comment.message|replace(replacer)|md2html }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block box_footer -%}
        {% if form is not null %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form.message, {'attr': {'rows': '3', 'placeholder': 'placeholder.type_message'|trans, 'style': 'margin-bottom: 5px'}}) }}
                    <button type="submit" class="btn btn-default">
                        <i class="{{ 'comment'|icon }}"></i>
                        {{ 'label.comment'|trans }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    {%- endblock %}
{% endembed %}
