<div class="small-box bg-{{ color|default(kimai_context.box_color) }}">
    <div class="inner">
        <h3>{{ data }}<sup style="font-size: 20px">{{ unit|default('') }}</sup></h3>
        <p>{{ title|trans }}</p>
    </div>
    <div class="icon">
        <i class="{{ icon|icon(icon) }}"></i>
    </div>
    {% if url %}
    <a href="{{ url }}" class="small-box-footer">
        {{ 'more.info.link'|trans }}
    </a>
    {% endif %}
</div>
