{% import "macros/widgets.html.twig" as widgets %}

{% set version = constant('App\\Constants::VERSION') ~ ' ' ~ constant('App\\Constants::STATUS') %}

<h3 class="control-sidebar-heading">Kimai v2 - {{ version }}</h3>
<div class="form-group">
    {{ 'home.betainfo'|trans({'%version%': version}, 'sidebar')|raw|nl2br }}
</div>

<ul class="control-sidebar-menu">
    <li>
        <a href="{{ constant('App\\Constants::GITHUB') }}" target="_blank">
            <i class="menu-icon fab fa-github bg-gray"></i>

            <div class="menu-info">
                <h4 class="control-sidebar-subheading">GitHub</h4>
                <p>{{ 'home.github'|trans({}, 'sidebar')|raw }}</p>
            </div>
        </a>
    </li>
    <li>
        <a href="{{ constant('App\\Constants::HOMEPAGE') }}" target="_blank">
            <i class="menu-icon fa fa-home bg-green"></i>

            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ 'home.website'|trans({}, 'sidebar') }}</h4>
                <p>www.kimai.org</p>
            </div>
        </a>
    </li>
    {% if is_granted('system_information') %}
        <li>
            <a href="{{ path('about') }}">
                <i class="menu-icon far fa-copyright bg-aqua"></i>

                <div class="menu-info">
                    <h4 class="control-sidebar-subheading">{{ 'about.title'|trans({}, 'about') }}</h4>
                    <p>{{ 'about.subtitle'|trans({}, 'about') }}</p>
                </div>
            </a>
        </li>
    {% endif %}
</ul>

<p><br>Made with ♥ by <a href="https://www.kevinpapst.de/">Kevin Papst</a> and <a href="{{ constant('App\\Constants::GITHUB') }}graphs/contributors" target="_blank">great contributors</a>.</p>
