{% import "@AdminLTE/Macros/default.html.twig" as macro %}
{% import "macros/widgets.html.twig" as widgets %}

{% set linkUserProfile = path('user_profile', {'username' : user.username}) %}
{% if not is_granted('view_own_profile') %}
    {% set linkUserProfile = '#' %}
{% endif %}

<ul class="control-sidebar-menu">
    <li>
        <a href="{{ linkUserProfile }}">
            <div class="pull-left image">
                {{ macro.avatar(user.avatar, user.username, 'img-circle') }}
            </div>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ widgets.username(user) }}</h4>
                <p>{{ user.title }}</p>
            </div>
        </a>
    </li>
</ul>

<ul class="control-sidebar-menu">
    {% if is_granted('edit_own_profile') %}
    <li>
        <a href="{{ path('user_profile_edit', {'username' : user.username}) }}">
            <div class="pull-left image">
                <i class="{{ 'user'|icon }} text-gray"></i>
            </div>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ 'profile.title'|trans }}</h4>
            </div>
        </a>
    </li>
    {% endif %}
    {% if is_granted('preferences_own_profile') %}
    <li>
        <a href="{{ path('user_profile_preferences', {'username' : user.username})  }}">
            <div class="pull-left image">
                <i class="{{ 'settings'|icon }} text-gray"></i>
            </div>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ 'profile.preferences'|trans }}</h4>
            </div>
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{{ constant('App\\Constants::HOMEPAGE') }}/documentation/" target="_blank">
            <div class="pull-left image">
                <i class="{{ 'help'|icon }} text-gray"></i>
            </div>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ 'help.title'|trans }}</h4>
            </div>
        </a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            <div class="pull-left image">
                <i class="{{ 'logout'|icon }} text-gray"></i>
            </div>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">{{ 'menu.logout'|trans }}</h4>
            </div>
        </a>
    </li>
</ul>
