
<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle ddt-large ticktac" data-toggle="dropdown">
        <i class="fa fa-play-circle fa-2x"></i>
        {% if entries is not empty %}<span class="label label-{% if entries|length >= kimai_context.active_warning %}warning{% else %}success{% endif %}">{{ entries|length }}</span>{% endif %}
    </a>
    <ul class="dropdown-menu">
        <li class="header">
            {{ 'active.entries'|transchoice(entries|length) }}
        </li>
        <li>
            <ul class="menu">
                {% for entry in entries %}
                <li>
                    <a href="{{ path('timesheet_stop', {'id' : entry.id}) }}">
                        <div class="pull-left">
                            <i class="fa fa-stop-circle fa-2x"></i>
                        </div>
                        <h4>
                            {{ entry.activity.name }}
                            <small><i class="fa fa-clock-o"></i> {{ entry|durationForEntry }}</small>
                        </h4>
                        <p>{{ entry.activity.project.name }} ({{ entry.activity.project.customer.name }})</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="footer"><a href="{{ path('timesheet_create') }}">{{ 'timesheet.start'|trans }}</a></li>
    </ul>
</li>
