{% set logo = config('theme.branding.logo') %}
{% set company = config('theme.branding.company') %}
{% if logo is not empty %}
    <img src="{{ logo }}" style="max-width: 300px;">
{% elseif company is not empty %}
    <p>{{ company }}</p>
{% elseif tabler_bundle.getLogoUrl() is not empty %}
    <img alt="{{ get_title() }}" style="max-width: 150px;"
         src="{% if '://' in tabler_bundle.getLogoUrl() %}{{ tabler_bundle.getLogoUrl() }}{% else %}{{ asset(tabler_bundle.getLogoUrl()) }}{% endif %}">
{% else %}
    <p>{{ get_title('', '<br>')|raw }}</p>
{% endif %}
