{% if is_granted('start_own_timesheet') %}
    {% set class = "btn-outline-white" %}
    {% if tabler_bundle.isDarkMode() or tabler_bundle.isNavbarOverlapping() %}
        {% set class = "btn-dark" %}
    {% endif %}
    <div class="nav-item d-flex me-sm-3 me-1">
        <a href="{{ path('favorites_timesheets') }}" class="btn btn-icon {{ class}} px-0 remote-modal-load" data-modal-title="{{ 'recent.activities'|trans }}" tabindex="-1" aria-label="{{ 'recent.activities'|trans }}">
            {{ icon('repeat') }}
        </a>
    </div>
{% endif %}
