{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/actions.html.twig" as actions %}

{% block page_title %}{{ 'plugins.title'|trans({}, 'plugins') }}{% endblock %}
{% block page_subtitle %}{{ 'plugins.subtitle'|trans({}, 'plugins') }}{% endblock %}
{% block page_actions %}{{ actions.plugins('index') }}{% endblock %}

{% block main %}

{% if plugins|length == 0 %}
    {{ widgets.callout('warning', 'plugin.none_installed'|trans({}, 'plugins')) }}
{% else %}
    <div class="box data_table" id="datatable_plugins">
        <div class="box-body no-padding">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-hover dataTable" role="grid">
                            <thead>
                            <tr>
                                <th class="actions"></th>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.version'|trans({}, 'plugins') }}</th>
                                <th class="hidden-xs">{{ 'label.description'|trans }}</th>
                                <th class="hidden-xs hidden-sm">{{ 'label.required_version'|trans({}, 'plugins') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for plugin in plugins %}
                                <tr>
                                    <td>
                                        {{ actions.plugin(plugin, 'index') }}
                                    </td>
                                    <td>{{ plugin.name }}</td>
                                    <td>{{ widgets.label(plugin.metadata.version, 'primary') }}</td>
                                    <td class="hidden-xs">{{ plugin.metadata.description }}</td>
                                    <td class="hidden-xs hidden-sm">
                                        {% if plugin.metadata.kimaiVersion > constant('App\\Constants::VERSION') %}
                                            {{ widgets.label(plugin.metadata.kimaiVersion, 'danger') }}
                                        {% elseif plugin.metadata.kimaiVersion < constant('App\\Constants::VERSION') %}
                                            {{ widgets.label(plugin.metadata.kimaiVersion, 'warning') }}
                                        {% else %}
                                            {{ widgets.label(plugin.metadata.kimaiVersion, 'success') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
