{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "plugin/actions.html.twig" as actions %}
{% import "macros/datatables.html.twig" as tables %}

{% block page_title %}{{ 'plugins.title'|trans({}, 'plugins') }}{% endblock %}
{% block page_subtitle %}{{ 'plugins.subtitle'|trans({}, 'plugins') }}{% endblock %}
{% block page_actions %}{{ actions.plugins('index') }}{% endblock %}

{% block main %}

    {% if plugins|length == 0 %}
        {{ widgets.callout('warning', 'plugin.none_installed'|trans({}, 'plugins')) }}
    {% else %}

        {% set columns = {
            'name': {'class': 'alwaysVisible'},
            'version': {'class': ' w-min'},
            'description': {'class': 'hidden-xs'},
            'required_version': {'class': 'hidden-xs hidden-sm w-min'},
            'actions': {'class': 'actions alwaysVisible'},
        } %}

        {% set tableName = 'plugins' %}

        {{ tables.datatable_header(tableName, columns, null, {}) }}
        {% for plugin in plugins %}
            <tr>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'name') }}">
                    {% if plugin.id != plugin.name %}
                        <span data-toggle="tooltip" data-placement="top" title="{{ plugin.id }}">{{ plugin.name }}</span>
                    {% else %}
                        {{ plugin.name }}
                    {% endif %}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'version') }}">{{ widgets.label(plugin.metadata.version, 'primary') }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'description') }}">{{ plugin.metadata.description }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'required_version') }}">
                    {% if plugin.metadata.kimaiVersion > constant('App\\Constants::VERSION') %}
                        {{ widgets.label(plugin.metadata.kimaiVersion, 'danger') }}
                    {% elseif plugin.metadata.kimaiVersion < constant('App\\Constants::VERSION') %}
                        {{ widgets.label(plugin.metadata.kimaiVersion, 'warning') }}
                    {% else %}
                        {{ widgets.label(plugin.metadata.kimaiVersion, 'success') }}
                    {% endif %}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'actions') }}">
                    {{ actions.plugin(plugin, 'index') }}
                </td>
            </tr>
        {% endfor %}
        {{ tables.data_table_footer(plugins) }}

    {% endif %}

{% endblock %}
