{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}
    {% block main %}
    {% endblock %}
{% endblock %}

{% block flash_messages %}
    {{ include('default/_flash_messages.html.twig') }}
{% endblock %}


{#
        <title>{% block title %}{{ 'browser.title'|trans }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu locales" role="menu">
                {% for locale in locales() %}
                    <li {% if app.request.locale == locale.code %}class="active"{% endif %}><a href="{{ path(app.request.get('_route', 'homepage'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a></li>
                {% endfor %}
            </ul>
        </li>



        <p>&copy; {{ 'now'|date('Y') }} - {{ 'kimai.footer'|trans }}</p>
        <p>{{ 'kimai.license'|trans }}</p>

<!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->

#}