{% embed '@AdminLTE/Widgets/box-widget.html.twig' with {'customer': customer, 'stats': stats} %}
    {% import "macros/progressbar.html.twig" as progress %}
    {% block box_title %}{{ 'label.budget'|trans }}{% endblock %}
    {% block box_attributes %}id="budget_box"{% endblock %}
    {% block box_body %}
        {% set currency = customer.currency %}

        {% set params = {
            '%activity%': stats.activityAmount,
            '%project%': stats.projectAmount,
            '%customer%': customer.name,
            '%records%': stats.recordAmount,
            '%duration%': stats.recordDuration|duration,
            '%rate%': stats.recordRate|money(currency),
            '%internal_rate%': stats.recordInternalRate|money(currency)
        } %}

        <p>
            {{ 'admin_customer.short_stats'|trans(params) }}
            {{ 'label.rate_internal'|trans }}: {{ stats.recordInternalRate|money(currency) }}.
        </p>

        {{ progress.progressbar(customer.budget, stats.recordRate, 'label.budget'|trans, stats.recordRate|money(currency) ~ ' / ' ~ customer.budget|money(currency) ) }}
        {{ progress.progressbar(customer.timeBudget, stats.recordDuration, 'label.timeBudget'|trans, stats.recordDuration|duration ~ ' / ' ~ customer.timeBudget|duration ) }}
    {% endblock %}
{% endembed %}
