{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}
{% import "macros/actions.html.twig" as actions %}

{% block page_title %}{{ 'admin_customer.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_customer.subtitle'|trans }}{% endblock %}
{% block page_actions %}{{ actions.customers('index') }}{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(toolbarForm, 'collapseCustomerAdmin', showFilter) }}
{% endblock %}

{% block main %}

    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% else %}
        {% set columns = {
            'name': 'alwaysVisible',
            'comment': 'hidden-xs',
            'country': 'hidden-xs',
            'number': 'hidden-xs',
            'currency': 'hidden-xs',
            'visible': 'hidden-xs',
            'actions': 'alwaysVisible',
        } %}

        {% set tableName = 'customer_admin' %}

        {{ tables.data_table_header(tableName, columns) }}

        {% for entry in entries %}
            <tr>
                <td>{{ entry.name }} {% if entry.company is not empty %}({{ entry.company }}){% endif %}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'comment') }}">{{ entry.comment }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'country') }}">{{ entry.country|country }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'number') }}">{{ entry.number }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'currency') }}">{{ entry.currency }} {{ entry.currency|currency }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
                <td>
                    {{ actions.customer(entry, 'index') }}
                </td>
            </tr>
        {% endfor %}

        {{ tables.data_table_footer(entries, 'admin_customer_paginated') }}
    {% endif %}

{% endblock %}
