{% extends 'datatable.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "customer/actions.html.twig" as actions %}

{% block page_title %}{{ 'customers'|trans }}{% endblock %}

{% block page_actions %}{{ actions.customers('index', dataTable.getQuery()) }}{% endblock %}

{% block datatable_row %}
    <tr {{ widgets.customer_row_attr(entry, now) }}>
        <td class="{{ tables.class(dataTable, 'name') }}">
            {{ widgets.label_name(entry.name, entry.color|colorize(entry.name)) }}
        </td>
        <td class="{{ tables.class(dataTable, 'comment') }}">{{ entry.comment|comment1line }}</td>
        <td class="{{ tables.class(dataTable, 'number') }}">{{ entry.number }}</td>
        <td class="{{ tables.class(dataTable, 'company') }}">{{ entry.company }}</td>
        <td class="{{ tables.class(dataTable, 'vat_id') }}">{{ entry.vatId }}</td>
        <td class="{{ tables.class(dataTable, 'contact') }}">{{ entry.contact }}</td>
        <td class="{{ tables.class(dataTable, 'address') }}">{{ entry.address }}</td>
        <td class="{{ tables.class(dataTable, 'country') }}">{{ entry.country|country_name }}</td>
        <td class="{{ tables.class(dataTable, 'currency') }}">{{ entry.currency|currency_name }}</td>
        <td class="{{ tables.class(dataTable, 'phone') }}">{{ entry.phone }}</td>
        <td class="{{ tables.class(dataTable, 'fax') }}">{{ entry.fax }}</td>
        <td class="{{ tables.class(dataTable, 'mobile') }}">{{ entry.mobile }}</td>
        <td class="{{ tables.class(dataTable, 'email') }}">{{ entry.email }}</td>
        <td class="{{ tables.class(dataTable, 'homepage') }}">{{ entry.homepage }}</td>
        {% for field in metaColumns %}
            <td class="{{ tables.class(dataTable, 'mf_' ~ field.name) }}">
                {{ tables.datatable_meta_column(entry, field) }}
            </td>
        {% endfor %}
        <td class="{{ tables.class(dataTable, 'budget') }}">
            {% if entry.hasBudget() and is_granted('budget', entry) %}
                {{ entry.budget|money(entry.currency) }}
            {% else %}
                &ndash;
            {% endif %}
        </td>
        <td class="{{ tables.class(dataTable, 'timeBudget') }}">
            {% if entry.hasTimeBudget() and is_granted('time', entry) %}
                {{ entry.timeBudget|duration }}
            {% else %}
                &ndash;
            {% endif %}
        </td>
        <td class="{{ tables.class(dataTable, 'team') }}">{{ widgets.badge_team_access(entry.teams) }}</td>
        <td class="{{ tables.class(dataTable, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
        <td class="{{ tables.class(dataTable, 'actions') }}">{{ actions.customer(entry, 'index') }}</td>
    </tr>
{% endblock %}
