{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/search.html.twig" as search %}
{% import "customer/actions.html.twig" as actions %}

{% set columns = {
    'name': {'class': 'alwaysVisible'},
    'comment': {'class': 'd-none', 'title': 'label.description'|trans},
    'number': {'class': 'd-none w-min'},
    'company': {'class': 'd-none'},
    'vat_id': {'class': 'd-none w-min'},
    'contact': {'class': 'd-none'},
    'address': {'class': 'd-none'},
    'country': {'class': 'd-none w-min'},
    'currency': {'class': 'd-none w-min'},
    'phone': {'class': 'd-none'},
    'fax': {'class': 'd-none'},
    'mobile': {'class': 'd-none'},
    'email': {'class': 'd-none'},
    'homepage': {'class': 'd-none'},
} %}
{% for field in metaColumns %}
    {% set columns = columns|merge({
        ('mf_' ~ field.name): {'title': field.label|trans, 'class': 'd-none', 'orderBy': false}
    }) %}
{% endfor %}
{% if is_granted('budget_money', 'customer') %}
    {% set columns = columns|merge({
        'budget': {'class': 'd-none text-end w-min', 'title': 'label.budget'|trans},
    }) %}
{% endif %}
{% if is_granted('budget_time', 'customer') %}
    {% set columns = columns|merge({
        'timeBudget': {'class': 'd-none text-end w-min', 'title': 'label.timeBudget'|trans},
    }) %}
{% endif %}
{% set columns = columns|merge({
    'team': {'class': 'text-center w-min', 'orderBy': false},
    'visible': {'class': 'd-none text-center w-min'},
    'actions': {'class': 'actions alwaysVisible'},
}) %}

{% set tableName = 'customer_admin' %}

{% block page_title %}{{ 'customers'|trans }}{% endblock %}
{% block page_search %}{{ search.searchModal(toolbarForm) }}{% endblock %}
{% block page_actions %}{{ actions.customers('index', query) }}{% endblock %}

{% block main_before %}
    {{ tables.data_table_column_modal(tableName, columns) }}
{% endblock %}

{% block main %}

    {% if entries.count == 0 %}
        {{ widgets.nothing_found('kimai.customerUpdate kimai.customerTeamUpdate') }}
    {% else %}
        {{ tables.datatable_header(tableName, columns, query, {'reload': 'kimai.customerUpdate kimai.customerDelete kimai.customerTeamUpdate'}) }}

        {% for entry in entries %}
            <tr {{ widgets.customer_row_attr(entry, now) }}>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'name') }}">
                    {{ widgets.label_name(entry.name, entry.color) }}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'comment') }}">{{ entry.comment|comment1line }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'number') }}">{{ entry.number }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'company') }}">{{ entry.company }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'vat_id') }}">{{ entry.vatId }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'contact') }}">{{ entry.contact }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'address') }}">{{ entry.address }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'country') }}">{{ entry.country|country_name }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'currency') }}">{{ entry.currency|currency_name }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'phone') }}">{{ entry.phone }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'fax') }}">{{ entry.fax }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'mobile') }}">{{ entry.mobile }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'email') }}">{{ entry.email }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'homepage') }}">{{ entry.homepage }}</td>
                {% for field in metaColumns %}
                    <td class="{{ tables.data_table_column_class(tableName, columns, 'mf_' ~ field.name) }}">
                        {{ tables.datatable_meta_column(entry, field) }}
                    </td>
                {% endfor %}
                <td class="{{ tables.data_table_column_class(tableName, columns, 'budget') }}">
                    {% if entry.hasBudget() and is_granted('budget', entry) %}
                        {{ entry.budget|money(entry.currency) }}
                    {% else %}
                        &ndash;
                    {% endif %}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'timeBudget') }}">
                    {% if entry.hasTimeBudget() and is_granted('time', entry) %}
                        {{ entry.timeBudget|duration }}
                    {% else %}
                        &ndash;
                    {% endif %}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'team') }}">{{ widgets.badge_team_access(entry.teams) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'actions') }}">{{ actions.customer(entry, 'index') }}</td>
            </tr>
        {% endfor %}

        {{ tables.data_table_footer(entries, 'admin_customer_paginated') }}
    {% endif %}

{% endblock %}
