
{% macro data_table_header(entries) %}
<div class="box">
    {#
    <div class="box-header">
        <h3 class="box-title"><a href="#" class="btn btn-primary">jkbkj</a></h3>
        <div class="box-tools">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
    #}
    <div class="box-body no-padding">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-hover dataTable" role="grid">
                        <thead>
                        <tr>
                            {% for title, icon in entries %}
                            <th>
                                {% if kimai_context.table_icons and icon %}<i class="fa fa-{{ icon }}"></i>{% endif %}
                                {{ title|trans }}
                            </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
{% endmacro %}

{% macro data_table_footer(entries, route) %}
                        </tbody>
                    </table>
                </div>
            </div>
            {#<div class="row">
                <div class="col-sm-5">
                    {#<div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        {{ 'datatables.entry_counter'|trans({'%from%': '1', '%to%': '10', '%total%': entries.count}) }}
                    </div># }
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers">
                        {{ pagerfanta(entries, 'twitter_bootstrap3_translated', { routeName: route }) }}
                    </div>
                </div>
            </div>#}
        </div>
    </div>
</div>

<div class="navigation text-center">
    {{ pagerfanta(entries, 'twitter_bootstrap3_translated', { routeName: route }) }}
</div>
{% endmacro %}
