{% import "macros/widgets.html.twig" as widgets %}
{% extends 'export/layout.html.twig' %}

{% block export %}
    <style>
        .items tr.summary {
        }
        .items td.totals {
            font-weight: bold;
            text-align: right;
        }
        .items td.duration,
        .items th.duration,
        .items th.cost,
        .items td.cost {
            text-align: center;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ 'export.document_title'|trans }}</h2>
            <p>
                {{ 'export.period'|trans }}:
                {{ query.begin|date_short }} - {{ query.end|date_short }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'export.summary'|trans }}</h3>
            <table class="items table table-condensed table-bordered dataTable">
                <thead>
                <tr>
                    <th>{{ 'label.customer'|trans }}</th>
                    <th>{{ 'label.project'|trans }}</th>
                    <th class="duration">{{ 'label.duration'|trans }}</th>
                    <th class="cost">{{ 'label.rate'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% set customer = null %}
                {% set customerDuration = 0 %}
                {% set customerRate = 0 %}
                {% set customerCurrency = null %}
                {% for summary in summaries %}
                    {% if customer is same as(null) %}
                        {% set customer = summary.customer %}
                        {% set customerCurrency = summary.currency %}
                    {% endif %}
                    {% if customer is not same as(summary.customer) %}
                        <tr class="summary">
                            <td colspan="2"></td>
                            <td class="totals duration">{{ customerDuration|duration }}</td>
                            <td class="totals cost">{{ customerRate|money(customerCurrency) }}</td>
                        </tr>
                        {% set customerCurrency = summary.currency %}
                        {% set customer = summary.customer %}
                        {% set customerDuration = 0 %}
                        {% set customerRate = 0 %}
                    {% endif %}
                    <tr>
                        <td>{{ summary.customer }}</td>
                        <td>{{ summary.project }}</td>
                        <td class="duration">{{ summary.duration|duration }}</td>
                        <td class="cost">{{ summary.rate|money(summary.currency) }}</td>
                    </tr>
                    {% set customerDuration = customerDuration + summary.duration %}
                    {% set customerRate = customerRate + summary.rate %}
                {% endfor %}
                {% if customer is not same as(null) %}
                    <tr class="summary">
                        <td colspan="2"></td>
                        <td class="totals duration">{{ customerDuration|duration }}</td>
                        <td class="totals cost">{{ customerRate|money(customerCurrency) }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% set columns = [
        'label.date',
        'label.begin',
        'label.end',
        'label.username',
        'label.customer',
        'label.project',
        'label.activity',
        'label.description',
        'label.exported',
        'label.hourlyRate',
        'label.fixedRate',
        'label.duration',
        'label.rate',
    ] %}

    <div class="row" id="export-records">
        <div class="col-xs-12">
            <h3>{{ 'export.full_list'|trans }}</h3>
            <table class="table table-condensed table-bordered dataTable">
                <thead>
                <tr>
                    {% for columnTitle in columns %}
                    <th>{{ columnTitle|trans }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set timeWorked = 0 %}
                {% set rateTotal = 0 %}
                {% set currency = false %}
                {% for entry in entries %}
                    {% set timeWorked = timeWorked + entry.duration %}
                    {% set rateTotal = rateTotal + entry.rate %}
                    {% if currency is same as(false) %}
                        {% set currency = entry.project.customer.currency %}
                    {% endif %}
                    {% if currency is not same as(entry.project.customer.currency) %}
                        {% set currency = null %}
                    {% endif %}
                    <tr>
                        <td class="text-nowrap">{{ entry.begin|date_short }}</td>
                        <td class="text-nowrap">{{ entry.begin|time }}</td>
                        <td class="text-nowrap">{{ entry.end|time }}</td>
                        <td>{{ widgets.username(entry.user) }}</td>
                        <td>{{ entry.project.customer.name }}</td>
                        <td>{{ entry.project.name }}</td>
                        <td>{{ entry.activity.name }}</td>
                        <td>
                            {% if entry.description is not empty %}
                                {{ entry.description|desc2html }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entry.exported %}
                                {{ 'entryState.exported'|trans }}
                            {% else %}
                                {{ 'entryState.not_exported'|trans }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap">{{ entry.hourlyRate|money(entry.project.customer.currency) }}</td>
                        <td class="text-nowrap">{{ entry.fixedRate|money(entry.project.customer.currency) }}</td>
                        <td class="text-nowrap">{{ entry.duration|duration }}</td>
                        <td class="text-nowrap">
                            {{ entry.rate|money(entry.project.customer.currency) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="{{ ( columns|length ) - 2 }}" class="text-right"></th>
                    <th class="text-nowrap">
                        {{ timeWorked|duration }}
                    </th>
                    <th class="text-nowrap">
                        {% if currency is not null and currency is not same as(false) %}
                            {{ rateTotal|money(currency) }}
                        {% else %}
                            {{ rateTotal|money }}
                        {% endif %}
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}
