<div class="box box-solid box-danger">
    <div class="box-header">
        <h3 class="box-title">{{ title|default('confirm.delete'|trans) }}</h3>
    </div>
    <div class="box-body">
        {{ message|raw }}
    </div>
    {{ form_start(form) }}
    <div class="box-body">
        {% block form_body %}
            {{ form_widget(form) }}
        {% endblock %}
    </div>
    <div class="box-footer">
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger" />
        {% if back %}
            <a href="{{ back }}" class="btn btn-link">{{ 'action.back'|trans }}</a>
        {% endif %}
    </div>
    {{ form_end(form) }}
</div>