{% if form_theme is defined %}
    {% form_theme form form_theme %}
{% endif %}
{% embed 'embeds/modal.html.twig' %}
    {% block modal_id %}form_modal{% endblock %}
    {% block modal_before %}{{ form_start(form) }}{% endblock %}
    {% block modal_title %}
        {{ title }}
        {% if form.vars.docu_chapter is defined and form.vars.docu_chapter is not empty %}
            <a href="{{ form.vars.docu_chapter|docu_link }}" target="_blank"><i class="{{ 'help'|icon }}"></i></a>
        {% endif %}
    {% endblock %}
    {% block modal_body %}
        {{ form_widget(form) }}
    {% endblock %}
    {% block modal_footer %}
        <button type="submit" class="btn btn-primary pull-left modal-form-save" data-loading-text="{{ 'action.save'|trans }}..." id="{{ block('modal_id') }}_save">{{ 'action.save'|trans }}</button>
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    {% endblock %}
    {% block modal_end %}{{ form_end(form) }}{% endblock %}
{% endembed %}
