<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            {{ title }}
            {% if form.vars.docu_chapter is defined and form.vars.docu_chapter is not empty %}
                <a href="{{ path('help_chapter', {'chapter': form.vars.docu_chapter}) }}"><i class="{{ 'help'|icon }}"></i></a>
            {% endif %}
        </h3>
    </div>
    {{ form_start(form) }}
    <div class="box-body">
         {{ form_widget(form) }}
    </div>
    <div class="box-footer">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
        {% if back|default(false) %}
            <a href="{{ back }}" class="btn btn-link">{{ 'action.back'|trans }}</a>
        {% endif %}
    </div>
    {{ form_end(form) }}
</div>