{% embed 'embeds/modal.html.twig' %}
    {% set used = used|default(false) %}
    {% block modal_id %}form_modal{% endblock %}
    {% block modal_class %}{% if used %}modal-danger{% endif %}{% endblock %}
    {% block modal_before %}{{ form_start(form) }}{% endblock %}
    {% block modal_title %}
        {{ title|default('confirm.delete'|trans) }}
    {% endblock %}
    {% block modal_body %}
        {% if used is same as (false) %}
            {{ 'delete.not_in_use'|trans }}
            <div class="hidden">
                {{ form_widget(form) }}
            </div>
        {% else %}
            <p>{{ message|raw }}</p>
            {{ form_widget(form) }}
        {% endif %}
    {% endblock %}
    {% block modal_footer %}
        <button type="submit" class="btn {% if used %}btn-outline{% else %}btn-primary{% endif %} pull-left modal-form-save" data-loading-text="{{ 'action.delete'|trans }}..." id="{{ block('modal_id') }}_save">{{ 'action.delete'|trans }}</button>
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    {% endblock %}
    {% block modal_end %}{{ form_end(form) }}{% endblock %}
{% endembed %}
