{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}

{% block page_title %}{{ 'admin_customer.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_customer.subtitle'|trans }} {{ 'subtitle.amount'|trans({'%count%': entries.count}) }}{% endblock %}
{% block javascript_imports %}<script src="{{ asset('js/toolbar.js') }}"></script>{% endblock %}

{% block main %}
    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}

    {# Available fields: vat; contact; address; country; phone; fax; mobile; mail; homepage; timezone; #}

    {{ tables.data_table_header({
        'label.id': 'hidden-xs',
        'label.name': '',
        'label.project': '',
        'label.comment': 'hidden-xs',
        'label.country': 'hidden-xs',
        'label.currency': 'hidden-xs',
        'label.visible': '',
        'label.actions': '',
    }, toolbarForm, {'plus-square': path('admin_customer_create')}) }}

    {% for entry in entries %}
        <tr>
            <td class="hidden-xs">{{ entry.id }}</td>
            <td>{{ entry.name }} {% if entry.company is not empty %}({{ entry.company }}){% endif %}</td>
            <td>
                {% for project in entry.projects %}
                    <a href="{{ path('admin_project_edit', {'id' : project.id}) }}">{{ widgets.label_project(project) }}</a>
                {% endfor %}
            </td>
            <td class="hidden-xs">{{ entry.comment }}</td>
            <td class="hidden-xs">{{ entry.country|country }}</td>
            <td class="hidden-xs">{{ entry.currency }} {{ entry.currency|currency }}</td>
            <td>{{ widgets.label_visible(entry.visible) }}</td>
            <td>
                {% set actionButtons = {} %}
                {% if is_granted('edit', entry) %}
                    {% set actionButtons = {'edit': path('admin_customer_edit', {'id': entry.id})}|merge(actionButtons) %}
                {% endif %}
                {% if is_granted('delete', entry) %}
                    {% set actionButtons = actionButtons|merge({'trash': path('admin_customer_delete', {'id': entry.id})}) %}
                {% endif %}
                {{ widgets.button_group(actionButtons) }}
            </td>
        </tr>
    {% endfor %}

    {{ tables.data_table_footer(entries, 'admin_customer_paginated') }}
{% endblock %}
