{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'admin_project.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_project.subtitle'|trans }} {{ 'subtitle.amount'|trans({'%count%': entries.count}) }}{% endblock %}
{% block page_actions %}{{ widgets.page_actions({'filter': '#collapseProjectAdmin', 'visibility': '#modal_project_admin', 'create': path('admin_project_create')}) }}{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(toolbarForm, 'collapseProjectAdmin') }}
{% endblock %}

{% block main %}
    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}

    {% set columns = {
        'name': 'alwaysVisible',
        'customer': '',
        'comment': 'hidden-xs hidden-sm',
        'budget': 'hidden-xs',
        'visible': 'hidden-xs',
        'actions': 'alwaysVisible',
    } %}

    {% set tableName = 'project_admin' %}

    {{ tables.data_table_header(tableName, columns) }}

    {% for entry in entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'customer') }}">
                <a href="{{ path('admin_customer_edit', {'id' : entry.customer.id}) }}">{{ widgets.label_customer(entry.customer) }}</a>
            </td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'comment') }}">{{ entry.comment }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'budget') }}">{{ entry.budget|money(entry.customer.currency) }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
            <td>
                {% set actionButtons = {} %}
                {% if is_granted('edit', entry) %}
                    {% set actionButtons = {'edit': path('admin_project_edit', {'id': entry.id})}|merge(actionButtons) %}
                {% endif %}
                {% if is_granted('delete', entry) %}
                    {% set actionButtons = actionButtons|merge({'trash': path('admin_project_delete', {'id': entry.id})}) %}
                {% endif %}
                {{ widgets.button_group(actionButtons) }}
            </td>
        </tr>
    {% endfor %}

    {{ tables.data_table_footer(entries, 'admin_project_paginated') }}
{% endblock %}
