{% extends 'base.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'admin_user.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_user.subtitle'|trans }} {{ 'subtitle.amount'|trans({'%count%': entries.count}) }}{% endblock %}
{% block page_actions %}{{ widgets.page_actions({'filter': '#collapseUserAdmin', 'visibility': '#modal_user_admin', 'create': path('admin_user_create')}) }}{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(toolbarForm, 'collapseUserAdmin') }}
{% endblock %}

{% block main %}
    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}

    {% set columns = {
        'id': 'hidden-xs',
        'alias': 'alwaysVisible',
        'username': 'hidden-xs',
        'email': 'hidden-xs hidden-sm',
        'title': 'hidden-xs',
        'active': '',
        'roles': '',
        'actions': 'alwaysVisible',
    } %}

    {% set tableName = 'user_admin' %}

    {{ tables.data_table_header(tableName, columns) }}

    {% for entry in entries %}
        <tr>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'id') }}">{{ entry.id }}</td>
            <td>{{ widgets.username(entry) }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'username') }}">{{ entry.username }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'email') }}">{{ entry.email }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'title') }}">{{ entry.title }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'active') }}">{{ widgets.label_visible(entry.enabled) }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'roles') }}">
                {% for role in entry.roles %}
                    {{ widgets.label_role(role) }}
                {% endfor %}
            </td>
            <td>
                {% set actionButtons = {} %}
                {% if is_granted('edit', entry) %}
                    {% set actionButtons = {'edit': path('user_profile', {'username' : entry.username})}|merge(actionButtons) %}
                {% endif %}
                {% if is_granted('delete', entry) %}
                    {% set actionButtons = actionButtons|merge({'trash': '#'}) %}
                {% endif %}
                {{ widgets.button_group(actionButtons) }}
            </td>
        </tr>
    {% endfor %}

    {{ tables.data_table_footer(entries, 'admin_user_paginated') }}
{% endblock %}
