
{% macro data_table_column_modal(name, columns) %}
<div class="modal modal-blur fade" data-bs-backdrop="static" id="modal_{{ name }}" data-column-visibility="{{ name }}" tabindex="-1" role="dialog" aria-labelledby="data_table_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="data_table_modal_label">{{ 'modal.columns.title'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <form name="{{ name }}_visibility" class="mb-3">
                    {%- for title, headerOptions in columns -%}
                        {% if not headerOptions is iterable %}
                            {% set headerOptions = {'class': headerOptions} %}
                        {% endif %}
                        {% if headerOptions.title is defined and headerOptions.title is not empty %}
                            {% set headerTitle = headerOptions.title %}
                        {% else %}
                            {% set headerTitle = ('label.' ~ title)|trans %}
                        {% endif %}
                        {% if 'alwaysVisible' not in headerOptions.class %}
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" id="column_{{ title }}" name="{{ title }}"{% if is_visible_column(name, title, columns) %} checked="checked"{% endif %}>
                                <span class="form-check-label">{{ headerTitle }}</span>
                            </label>
                        {% endif %}
                    {% endfor %}
                </form>
                <p>{{ 'modal.columns.description'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger me-auto" data-type="reset">{{ 'action.delete'|trans }}</button>
                <button type="button" class="btn btn-primary" data-type="save">{{ 'action.save'|trans }}</button>
                <button type="button" class="btn" data-bs-dismiss="modal">{{ 'action.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro datatable_header(tableName, columns, query, options) %}
    {% if query is not null %}
        {% set orderBy = options.orderBy|default(query.orderBy) %}
        {% set order = query.order|lower %}
    {% else %}
        {% set orderBy = false %}
        {% set order = false %}
    {% endif %}
    {% set striped = options.striped ?? false %}
    {% set bordered = options.bordered ?? false %}
    {% set reloadEvent = options.reload|default('') %}
    {% set translationDomain = options.translationDomain|default('messages') %}
    {% set translationPrefix = options.translationPrefix ?? 'label.' %}
    {% set boxClass = options.boxClass ?? 'card data_table' %}
    {% set columnModal = options.columnConfig ?? true %}

    <div class="{{ boxClass }} datatable_{{ tableName }}">
        <div class="card-body p-0">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table class="table {% if striped %}table-striped {% endif %}{% if bordered %}table-bordered {% endif %}table-hover dataTable" role="grid" data-reload-event="kimai.reset_column_visibility {{ reloadEvent }}">
                    <thead class="sticky-top">
                        <tr>
                        {%- for title, headerOptions in columns -%}
                            {% set isActions = title is not empty and title == 'actions' %}
                            {% if not headerOptions is iterable %}
                                {% set headerOptions = {'class': headerOptions} %}
                            {% endif %}
                            {% if not headerOptions.orderBy is defined %}
                                {% if orderBy is same as(false) %}
                                    {% set headerOptions = headerOptions|merge({'orderBy': false}) %}
                                {% else %}
                                    {% set headerOptions = headerOptions|merge({'orderBy': title}) %}
                                {% endif %}
                            {% endif %}
                            {% set headerClass = _self.data_table_column_class(tableName, columns, title) %}
                            {% if title != 'actions' and not headerOptions.orderBy is same as(false) %}
                                {% if orderBy == headerOptions.orderBy %}
                                    {% set headerClass = headerClass ~ ' sortable sorting_' ~ (order) %}
                                {% else %}
                                    {% set headerClass = headerClass ~ ' sortable sorting' %}
                                {% endif %}
                            {% endif %}
                            {% set headerTitle = '' %}
                            {% if headerOptions.title is defined %}
                                {% set headerTitle = headerOptions.title %}
                            {% elseif title is not empty and not isActions %}
                                {% set headerTitle = (translationPrefix ~ title)|trans({}, translationDomain) %}
                            {% endif %}
                            {% if isActions %}
                                {% set headerClass = headerClass ~ ' text-center' %}
                            {% endif %}
                            <th data-field="{{ title }}" {% if not headerOptions.orderBy is same as(false) %}data-order="{{ headerOptions.orderBy }}" {% endif %}class="{{ headerClass }}">
                            {% if title is not empty and title == 'actions' and columnModal is not same as (false) %}
                                <a class="link-secondary" href="#" data-bs-toggle="modal" data-bs-target="#modal_{{ tableName }}" data-toggle="tooltip" data-bs-placement="top" title="{{ 'modal.columns.title'|trans }}">
                                    {{ icon('columns') }}
                                </a>
                            {% else %}
                                {% if headerOptions.html_before is defined %}
                                    {{ headerOptions.html_before|raw }}
                                {% endif %}
                                {{ headerTitle }}
                                {% if headerOptions.html_after is defined %}
                                    {{ headerOptions.html_after|raw }}
                                {% endif %}
                            {% endif %}
                            </th>
                        {%- endfor -%}
                        </tr>
                    </thead>
                    <tbody>
{% endmacro %}

{% macro data_table_column_class(name, columns, column) %}
{% apply spaceless %}
    {% set class = '' %}
    {% set always = false %}

    {% if columns[column] is defined %}
        {% set classes = columns[column] %}
        {# change the next if, once data_table_header_options() will be deleted #}
        {% if classes is iterable %}
            {% set classes = classes.class %}
            {% if columns[column].columnClass is defined %}
                {% set classes = classes ~ ' ' ~ columns[column].columnClass %}
            {% endif %}
        {% endif %}
        {% if 'alwaysVisible' in classes %}
            {# as this column should always be visible, we remove every class that includes 'none' #}
            {% for tmp in classes|split(' ') %}
                {% if '-none' not in tmp %}
                    {% set class = class ~ ' ' ~ tmp %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if not is_visible_column(name, column, columns) %}
                {% set classes = classes ~ ' d-none' %}
            {% elseif not is_datatable_configured(name) %}
                {# needs to be a foreach, as classes like "d-xs-none" would match in: if 'none' in classes #}
                {% for tmp in classes|split(' ') %}
                    {% if '-none' == tmp %}
                        {% set classes = classes|replace({(tmp): ''}) %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {# needs to be a foreach, as classes like "d-xs-none" would match in: if 'none' in classes #}
                {% for tmp in classes|split(' ') %}
                    {% if '-none' in tmp %}
                        {% set classes = classes|replace({(tmp): ''}) %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% set class = classes %}
        {% endif %}
    {% endif %}

    {% if not class is empty %}
        {{ class }}
    {% endif %}
{% endapply %}
{% endmacro %}

{% macro data_table_footer(entries, route, multi_update_form) %}
                </tbody>
            </table>
        </div>
    </div>
    {% if (route is not empty and entries is not null) or multi_update_form is not null%}
    <div class="card-footer d-flex align-items-center">
        {% if multi_update_form is not null %}
            <div id="multi_update_form" style="display: none" class="col">
                {{ form_start(multi_update_form, {'attr': {'data-question': 'update_multiple'|trans}}) }}
                    {% for formChild in multi_update_form.children %}
                        {{ form_widget(formChild) }}
                    {% endfor %}
                {{ form_end(multi_update_form) }}
            </div>
        {% endif %}
        {% if route is not empty and entries is not null %}
            <div class="col multi_update_form_hide">
                <p class="m-0 text-muted">
                    {{ 'pagination'|trans({'%start%': entries.getCurrentPageOffsetStart(), '%end%': entries.getCurrentPageOffsetEnd(), '%total%': entries.getNbResults()}) }}
                </p>
            </div>
            <div class="col-auto">
                {% set options = { 'css_container_class': 'pagination m-0 ms-auto d-print-none' } %}
                {% if route is iterable %}
                    {% set options = options|merge(route) %}
                {% else %}
                    {% set options = options|merge({routeName: route}) %}
                {% endif %}
                {{ pagination(entries, options) }}
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro datatable_meta_column(entry, field) %}
    {% import "macros/widgets.html.twig" as widgets %}
    {% set metaField = entry.metaField(field.name) %}
    {% if not metaField is null and metaField.value is not null and metaField.value is not empty %}
        {% set metaField = metaField.merge(field) %}
        {{ widgets.form_type_value(metaField.type, metaField.value, entry) }}
    {% endif %}
{% endmacro %}

{% macro datatable_multiupdate_all() %}
    <input type="checkbox" id="multi_update_all" class="multiupdater form-check-input m-0 align-middle">
{% endmacro %}

{% macro datatable_multiupdate_row(id) %}
    <input type="checkbox" name="id" value="{{ id }}" class="multi_update_single multiupdater form-check-input m-0 align-middle">
{% endmacro %}
