{% macro toolbar(form, collapsible, displayInitial) %}
    {% deprecated 'The macro "toolbar" is deprecated since 1.2 and will be removed with 2.0, use search.searchModal() instead' %}
    <div class="toolbar no-print">
        {% if collapsible %}<div class="collapse{% if displayInitial %} collapse.show in{% endif %}" id="{{ collapsible }}">{% endif %}
            {{ form_start(form, { 'attr': {'class': 'navbar-form'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% if collapsible %}</div>{% endif %}
    </div>
{% endmacro %}

{% macro dropDownSearch(form) %}
    {% deprecated 'The macro "dropDownSearch" is deprecated since 1.4 and will be removed with 2.0, use search.searchModal() instead' %}
    <div class="modal fade" id="modal_search" tabindex="-1" role="dialog" aria-labelledby="modal_search_label">
        <div class="modal-dialog" role="document">
            {% form_theme form 'form/search-form.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'form-narrow searchform'}}) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'action.close'|trans }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_search_label">
                        {{ 'search'|trans }}
                    </h4>
                </div>
                <div class="modal-body">
                    {{ form_rest(form) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-left" data-type="submit">{{ 'search'|trans }}</button>
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endmacro %}
