{% macro toolbar(form, collapsible, displayInitial) %}
    <div class="toolbar no-print">
        {% if collapsible %}<div class="collapse{% if displayInitial %} collapse.show in{% endif %}" id="{{ collapsible }}">{% endif %}
            {{ form_start(form, { 'attr': {'class': 'navbar-form'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% if collapsible %}</div>{% endif %}
    </div>
{% endmacro %}

{% macro dropDownSearch(form) %}
    {% form_theme form 'form/search-form.html.twig' %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}
    <div class="dropdown header-search">
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="{{ 'search'|icon }}"></i>
            </div>
            {{ form_widget(form.searchTerm, {'attr': {'autocomplete': 'off', 'data-toggle': 'dropdown', 'class': 'dropdown-toggle input-sm', 'aria-haspopup': 'true', 'aria-expanded': 'true'}}) }}
            <ul class="dropdown-menu" role="menu" aria-labelledby="searchTerm">
                <li>
                    <div class="container-fluid">
                        {% if not form.searchTerm.vars.valid %}
                            {{ form_errors(form.searchTerm) }}
                            <br>
                        {% endif %}
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <input type="submit" value="{{ 'search'|trans }}" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
    {{ form_end(form) }}
    
    {# FIXME move me to a plugin #}
    <script type="text/javascript">
        $(document).on('click', '.header-search .dropdown-menu', function (e) {
            e.stopPropagation();
        });
    </script>
{% endmacro %}
