
{% macro page_header(title) %}
    <h2 class="page-header">{{ title|trans }}</h2>
{% endmacro %}

{% macro label_visible(visible) %}
    {% import _self as macro %}
    {% if visible %}
        {{ macro.label('badge.visible', 'success') }}
    {% else %}
        {{ macro.label('badge.invisible', 'warning') }}
    {% endif %}
{% endmacro %}

{% macro label_role(role) %}
    {% import _self as macro %}
    {% if role == 'ROLE_SUPER_ADMIN' %}
        {{ macro.label(role, 'danger') }}
    {% else %}
        {{ macro.label(role, 'primary') }}
    {% endif %}
{% endmacro %}

{% macro username(user) %}
    {{ user.alias|default(user.username) }}
{% endmacro %}

{% macro label_user(user) %}
    {% import _self as macro %}
    {{ macro.label(macro.username(user), 'primary') }}
{% endmacro %}

{% macro label_activity(activity) %}
    {% import _self as macro %}
    {% if activity.visible and activity.project.visible and activity.project.customer.visible %}
        {{ macro.label(activity.name, 'primary', activity.project.customer.name ~ ': ' ~ activity.project.name) }}
    {% else %}
        {{ macro.label(activity.name, 'warning', activity.project.customer.name ~ ': ' ~ activity.project.name) }}
    {% endif %}
{% endmacro %}

{% macro label_project(project) %}
    {% import _self as macro %}
    {% if project.visible and project.customer.visible %}
        {{ macro.label(project.name, 'primary', project.customer.name) }}
    {% else %}
        {{ macro.label(project.name, 'warning', project.customer.name) }}
    {% endif %}
{% endmacro %}

{% macro label_customer(customer) %}
    {% import _self as macro %}
    {% if customer.visible %}
        {{ macro.label(customer.name, 'primary') }}
    {% else %}
        {{ macro.label(customer.name, 'warning') }}
    {% endif %}
{% endmacro %}

{% macro badge_counter(count, url) %}
    {% if url %}
        <a href="{{ url }}"><span class="badge bg-blue">{{ count }}</span></a>
    {% else %}
        <span class="badge bg-blue">{{ count }}</span>
    {% endif %}
{% endmacro %}

{% macro label(title, type, tooltip) %}
    {# success, warning, danger, primary #}
    <span {%  if tooltip %}title="{{ tooltip }}" {% endif %}class="label label-{{ type|default('success') }}">{{ title|trans }}</span>
{% endmacro %}

{% macro badge(title, color) %}
    {# black, green, blue, yellow #}
    <span class="badge bg-{{ color|default('red') }}">{{ title|trans }}</span>
{% endmacro %}

{% macro alert(type, description, title, icon) %}
    <div class="alert alert-{{ type|default('danger') }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% if title %}<h4><i class="icon fa fa-{{ icon|default('ban') }}"></i> {{ title|trans }}</h4>{% endif %}
        {{ description|trans }}
    </div>
{% endmacro %}

{% macro callout(type, description, title, icon) %}
    <div class="callout callout-{{ type|default('danger') }} lead">
        {% if title %}<h4>{% if icon %}<i class="fa fa-{{ icon }}">{% endif %}</i> {{ title|trans }}</h4>{% endif %}
        <p>{{ description|trans }}</p>
    </div>
{% endmacro %}

{% macro info_box_counter(title, amount, icon, color, url) %}
<div class="info-box">
    <span class="info-box-icon bg-{{ color|default(kimai_context.box_color) }}"><i class="fa fa-{{ icon|default('flag-o') }}"></i></span>

    <div class="info-box-content">
        {# this is a ugly hack, make me look nicely (dashboard widget with link) #}
        {% if url %}
            <a href="{{ url }}" class="small-box-footer">
        {% endif %}
        <span class="info-box-text">{{ title|trans }}</span>
        <span class="info-box-number">{{ amount }}</span>
        {% if url %}
            </a>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro info_box_progress(title, description, amount, percentage, icon, color) %}
    <div class="info-box bg-{{ color|default(kimai_context.box_color) }}">
        <span class="info-box-icon"><i class="fa fa-{{ icon|default('thumbs-o-up') }}"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">{{ title|trans }}</span>
            <span class="info-box-number">{{ amount }}</span>

            <div class="progress">
                <div class="progress-bar" style="width: {{ percentage }}%"></div>
            </div>
            <span class="progress-description">
                    {{ description }}
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
{% endmacro %}

{% macro info_box_more(title, amount, unit, url, icon, color) %}
    <div class="small-box bg-{{ color|default(kimai_context.box_color) }}">
        <div class="inner">
            <h3>{{ amount }}<sup style="font-size: 20px">{{ unit|default('') }}</sup></h3>
            <p>{{ title|trans }}</p>
        </div>
        <div class="icon">
            <i class="fa fa-{{ icon|default('bar-chart') }}"></i>
        </div>
        <a href="{{ url }}" class="small-box-footer">
            {{ 'more.info.link'|trans }} <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
{% endmacro %}

{% macro button_group_dropdown(title, actions) %}
    <div class="btn-group">
        <button type="button" class="btn btn-default">{{ title|trans }}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">{{ 'label.toggle_dropdown'|trans }}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for url, entry in actions %}
                <li><a href="{{ url }}">{{ entry|trans }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro button_group(actions) %}
    {% import _self as macro %}
    <div class="btn-group">
        {% for icon, url in actions %}
            {{ macro.button_action(icon, url) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro button_action(icon, url) %}
    <a href="{{ url }}" class="btn btn-default btn-{{ icon }}">
        <i class="fa fa-{{ icon }}"></i>
    </a>
{% endmacro %}
