{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% block page_title %}{{ 'timesheet.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'timesheet.subtitle'|trans }}{% endblock %}
{% block page_actions %}
    {% set actions = {'filter': '#collapseTimesheet'} %}
    {% if is_granted('export_own_timesheet') %}
        {% set actions = actions|merge({'download': 'onclick:return exportTimesheet()'}) %}
    {% endif %}
    {% set actions = actions|merge({'visibility': '#modal_timesheet'}) %}
    {% set actions = actions|merge({'calendar': path('calendar')}) %}
    {% if is_granted('create_own_timesheet') %}
        {% set actions = actions|merge({'create': path('timesheet_create')}) %}
    {% endif %}
    {{ widgets.page_actions(actions) }}
{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(toolbarForm, 'collapseTimesheet', showFilter) }}
{% endblock %}

{% block main %}
    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}

    {% set columns = {'date': ''} %}

    {% if not duration_only %}
        {% set columns = columns|merge({'starttime': '', 'endtime': 'hidden-xs'}) %}
    {% endif %}

    {% set columns = columns|merge({'duration': ''}) %}

    {% if is_granted('view_rate_own_timesheet') %}
        {% set columns = columns|merge({'rate': 'hidden-xs'}) %}
    {% endif %}

    {% set columns = columns|merge({
        'customer': 'hidden-xs hidden-sm',
        'project': 'hidden-xs hidden-sm',
        'activity': 'hidden-xs hidden-sm',
        'description': 'hidden-xs hidden-sm',
        'tags': 'hidden-xs hidden-sm',
        'actions': 'alwaysVisible',
    }) %}

    {% set tableName = 'timesheet' %}

    {{ tables.data_table_header(tableName, columns) }}

    {% for entry in entries %}
        <tr>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'date') }}">{{ entry.begin|date_short }}</td>

            {% if not duration_only %}
                <td class="{{ tables.data_table_column_class(tableName, columns, 'starttime') }}">{{ entry.begin|date("H:i") }}</td>
            {% endif %}

            {% if entry.end %}
                {% if not duration_only %}
                    <td class="{{ tables.data_table_column_class(tableName, columns, 'endtime') }}">{{ entry.end|date("H:i") }}</td>
                {% endif %}
                <td class="{{ tables.data_table_column_class(tableName, columns, 'duration') }}">{{ entry.duration|duration }}</td>
                {% if is_granted('view_rate', entry) %}
                    <td class="{{ tables.data_table_column_class(tableName, columns, 'rate') }}">{{ entry.rate|money(entry.project.customer.currency) }}</td>
                {% endif %}
            {% else %}
                {% if not duration_only %}
                    <td class="{{ tables.data_table_column_class(tableName, columns, 'endtime') }}">&dash;</td>
                {% endif %}
                <td class="{{ tables.data_table_column_class(tableName, columns, 'duration') }}"><i>{{ entry|duration }}</i></td>
                {% if is_granted('view_rate', entry) %}
                    <td class="{{ tables.data_table_column_class(tableName, columns, 'rate') }}">&dash;</td>
                {% endif %}
            {% endif %}

            <td class="{{ tables.data_table_column_class(tableName, columns, 'customer') }}">{{ widgets.label_customer(entry.project.customer) }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'project') }}">{{ widgets.label_project(entry.project) }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'activity') }}">{{ widgets.label_activity(entry.activity) }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'description') }} timesheet-description">{{ entry.description|desc2html }}</td>
            <td class="{{ tables.data_table_column_class(tableName, columns, 'tags') }}">{{ widgets.print_tags_as_list(entry.tags) }}</td>
            <td>
                {% set actionButtons = {} %}
                {% if is_granted('edit', entry) %}
                    {% set actionButtons = actionButtons|merge({'edit': path('timesheet_edit', {'id' : entry.id, 'page': page})}) %}
                {% endif %}

                {% if entry.end %}
                    {% if is_granted('start', entry) %}
                        {% set actionButtons = {'repeat': path('timesheet_start', {'id' : entry.id})}|merge(actionButtons) %}
                    {% endif %}
                {% else %}
                    {% if is_granted('stop', entry) %}
                        {% set actionButtons = {'stop': path('timesheet_stop', {'id' : entry.id})}|merge(actionButtons) %}
                    {% endif %}
                {% endif %}

                {% if is_granted('delete', entry) %}
                    {% set actionButtons = actionButtons|merge({'trash': path('timesheet_delete', {'id' : entry.id, 'page': page})}) %}
                {% endif %}
                {{ widgets.button_group(actionButtons) }}
            </td>
        </tr>
    {% endfor %}

    {{ tables.data_table_footer(entries, 'timesheet_paginated') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function exportTimesheet() {
            var form = $("div.toolbar form.navbar-form");
            var prevAction = form.attr('action');
            form.attr('target', '_blank').attr('action', '{{ path('timesheet_export') }}');
            form.submit();
            form.removeAttr('target').attr('action', prevAction);
            return false;
        }
    </script>
{% endblock %}
