{% if is_granted('start_own_timesheet') %}
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle ddt-large" data-toggle="dropdown">
            <i class="{{ 'activity'|icon }} fa-2x"></i>
        </a>
        <ul class="dropdown-menu"
            data-api="{{ path('recent_timesheet', {'size' : 10}) }}"
            data-href="{{ path('restart_timesheet', {'id' : '000'}) }}"
            data-icon="{{ 'start-small'|icon }}"
            data-template="{{ 'recent.activities.format'|trans }}">
            <li class="header">{{ 'recent.activities'|trans }}</li>
            <li>
                <ul class="menu">
                </ul>
            </li>
            <li class="footer"><a href="{{ path('timesheet') }}">{{ 'timesheet.all'|trans }}</a></li>
        </ul>
    </li>
{% endif %}
