{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% import "macros/progressbar.html.twig" as progress %}
    {% block box_title %}{{ 'label.budget'|trans }}{% endblock %}
    {% block box_attributes %}id="budget_box"{% endblock %}
    {% block box_body %}
        {% set params = {
            '%activity%': '<strong>' ~ activity.name ~ '</strong>',
            '%project%': '<strong>-</strong>',
            '%customer%': '<strong>-</strong>',
            '%records%': '<strong>' ~ stats.recordAmount ~ '</strong>',
            '%duration%': '<strong>' ~ stats.recordDuration|duration ~ '</strong>'
        } %}

        {% set currency = null %}
        {% if activity.project is not null %}
            {% set currency = activity.project.customer.currency %}
        {% endif %}

        {% if activity.project is not null %}
            {% set params = params|merge({
                '%project%': '<strong>' ~ activity.project.name ~ '</strong>',
                '%customer%': '<strong>' ~ activity.project.customer.name ~ '</strong>',
            }) %}
        {% endif %}

        <p>
            {{ 'admin_activity.short_stats'|trans(params)|raw }}
            {{ 'label.rate_internal'|trans }}: {{ stats.recordInternalRate|money(currency) }}.
        </p>


        {{ progress.progressbar(activity.budget, stats.recordRate, 'label.budget'|trans, stats.recordRate|money(currency) ~ ' / ' ~ activity.budget|money(currency) ) }}
        {{ progress.progressbar(activity.timeBudget, stats.recordDuration, 'label.timeBudget'|trans, stats.recordDuration|duration ~ ' / ' ~ activity.timeBudget|duration ) }}
    {% endblock %}
{% endembed %}
