{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}
{% import "macros/actions.html.twig" as actions %}

{% block page_title %}{{ 'admin_activity.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_activity.subtitle'|trans }}{% endblock %}
{% block page_actions %}{{ actions.activities('index') }}{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(toolbarForm, 'collapseActivityAdmin', showFilter) }}
{% endblock %}

{% block main %}

    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% else %}
        {% set columns = {
            'name': 'alwaysVisible',
            'customer': 'hidden-xs',
            'project': 'hidden-xs',
            'comment': 'hidden-xs',
            'visible': '',
            'actions': 'alwaysVisible',
        } %}

        {% set tableName = 'activity_admin' %}

        {{ tables.data_table_header(tableName, columns) }}

        {% for entry in entries %}
            <tr>
                <td>{{ entry.name }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'customer') }}">
                    {% if entry.project and entry.project.customer %}
                        <a href="{{ path('admin_customer_edit', {'id' : entry.project.customer.id}) }}">{{ widgets.label_customer(entry.project.customer) }}</a>
                    {% else %}
                        {# GLOBAL ACTIVTITY DOES NOT HAVE A CUSTOMER #}
                    {% endif %}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'project') }}">
                    {% if entry.project %}
                        <a href="{{ path('admin_project_edit', {'id' : entry.project.id}) }}">{{ widgets.label_project(entry.project) }}</a>
                    {% else %}
                        {# GLOBAL ACTIVTITY DOES NOT HAVE A PROJECT #}
                    {% endif %}
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'comment') }}">{{ entry.comment }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
                <td>
                    {{ actions.activity(entry, 'index') }}
                </td>
            </tr>
        {% endfor %}

        {{ tables.data_table_footer(entries, 'admin_activity_paginated') }}
    {% endif %}

{% endblock %}
