{% extends app.request.xmlHttpRequest ? 'form.html.twig' : 'base.html.twig' %}
{% import "quick-entry/actions.html.twig" as actions %}

{% block page_title %}{{ 'quick_entry.title'|trans }}{% endblock %}
{% block page_actions %}{{ actions.quickEntries('index') }}{% endblock %}

{% block main %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_attributes %}id="quick_entry_box"{% endblock %}
        {% block box_before %}{{ form_start(form, {attr: {class: 'form-dataTable'}}) }}{% endblock %}
        {% block box_after %}{{ form_end(form) }}{% endblock %}
        {% block box_title %}
            {{ form_widget(form.date) }}
        {% endblock %}
        {% block box_body_class %}no-padding{% endblock %}
        {% block box_footer %}
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
            <button type="button" class="btn btn-success add-item-link" data-collection-prototype="{{ form.rows.vars.id }}" data-collection-holder="ts-collection">
                <i class="{{ 'create'|icon }}"></i>
                {{ 'action.add'|trans }}
            </button>
        {% endblock %}
        {% block box_body %}
            <table class="table dataTable">
                <thead>
                    <tr>
                        <th>{{ 'label.project'|trans }}</th>
                        <th>{{ 'label.activity'|trans }}</th>
                        {% for id, week in days %}
                        <th class="text-center">
                            {{ week.day|day_name(true) }}<br>
                            {{ week.day|format_date('short') }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="ts-collection" data-index="{{ form.rows.children|length }}">
                    {{ form(form) }}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function(event) {
            {% if form.user is defined %}
            jQuery('#{{ form.user.vars.id }}').on('change', function(ev) {
                jQuery(this).closest('form').submit();
            });
            {% endif %}

            jQuery('#{{ form.date.vars.id }}').on('change', function(ev) {
                location.href = '{{ path('quick_entry', {'begin': '__BEGIN__'}) }}'.replace('__BEGIN__', jQuery(this).val());
            });

            const kimai = event.detail.kimai;

            const addFormToCollection = function(e) {
                const collectionHolder = document.getElementById(e.currentTarget.dataset.collectionHolder);
                const collectionPrototype = document.getElementById(e.currentTarget.dataset.collectionPrototype);

                const node = document.createElement('tr');
                node.innerHTML = collectionPrototype
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );
                collectionHolder.appendChild(node);

                jQuery(node).find('.selectpicker').each(function(i, el) {
                    kimai.getPlugin('form-select').activateSelectPickerByElement(el, 'body');
                });

                collectionHolder.dataset.index++;
            };

            document.querySelectorAll('.add-item-link').forEach(btn => btn.addEventListener("click", addFormToCollection));
        });
    </script>
{% endblock %}
