{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'admin_activity.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_activity.subtitle'|trans }}{% endblock %}

{% block main %}
    {% if entries.count > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th><i class="fa fa-bookmark-o"></i> {{ 'label.name'|trans }}</th>
                <th><i class="fa fa-book"></i> {{ 'label.project'|trans }}</th>
                <th><i class="fa fa-comment-o"></i> {{ 'label.comment'|trans }}</th>
                <th><i class="fa fa-eye"></i> {{ 'label.visible'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.project }}</td>
                    <td>{{ entry.comment }}</td>
                    <td>{{ widgets.badge_visible(entry.visible) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ pagerfanta(entries, 'twitter_bootstrap3_translated', { routeName: 'admin_activity_paginated' }) }}
        </div>
    {% else %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}
{% endblock %}
