{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}

{% block page_title %}{{ 'admin_project.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_project.subtitle'|trans }} {{ 'subtitle.amount'|trans({'%count%': entries.count}) }}{% endblock %}

{% block main %}
    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}

    {{ tables.data_table_header({
        'label.id': 'hidden-xs',
        'label.name': '',
        'label.customer': '',
        'label.comment': 'hidden-xs hidden-sm',
        'label.activity': 'hidden-xs hidden-sm',
        'label.budget': 'hidden-xs',
        'label.visible': '',
        'label.actions': '',
    }, null, {'plus-square': path('admin_project_create')}) }}

    {% for entry in entries %}
        <tr>
            <td class="hidden-xs">{{ entry.id }}</td>
            <td>{{ entry.name }}</td>
            <td>
                <a href="{{ path('admin_customer_edit', {'id' : entry.customer.id}) }}">{{ widgets.label_customer(entry.customer) }}</a>
            </td>
            <td class="hidden-xs hidden-sm">{{ entry.comment }}</td>
            <td class="hidden-xs hidden-sm">{{ widgets.badge_counter(entry.activities.count) }}</td>
            <td class="hidden-xs">{{ entry.budget|money(entry.customer.currency) }}</td>
            <td>{{ widgets.label_visible(entry.visible) }}</td>
            <td>
                {{ widgets.button_group({
                    'edit': path('admin_project_edit', {'id': entry.id}),
                    'trash': '#'
                }) }}
            </td>
        </tr>
    {% endfor %}

    {{ tables.data_table_footer(entries, 'admin_project_paginated') }}
{% endblock %}
