{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'admin_timesheet.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_timesheet.subtitle'|trans }}{% endblock %}

{% block main %}
    {% if entries.count > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-calendar"></i> {{ 'label.date'|trans }}</th>
                <th><i class="fa fa-hourglass-start"></i> {{ 'label.starttime'|trans }}</th>
                <th><i class="fa fa-hourglass-end"></i> {{ 'label.endtime'|trans }}</th>
                <th><i class="fa fa-clock-o"></i> {{ 'label.duration'|trans }}</th>
                <th><i class="fa fa-user"></i> {{ 'label.username'|trans }}</th>
                <th><i class="fa fa-pencil-square-o"></i> {{ 'label.description'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.start|date(kimai_context.date_1) }}</td>
                    <td>{{ entry.start|date("H:i") }}</td>
                    <td>{{ entry.end|date("H:i") }}</td>
                    <td>{{ entry.duration|gmdate }}</td>
                    <td>{{ entry.user.username }}</td>
                    <td>{{ entry.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ pagerfanta(entries, 'twitter_bootstrap3_translated', { routeName: 'admin_timesheet_paginated' }) }}
        </div>
    {% else %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% endif %}
{% endblock %}
