{% extends 'invoice/layout.html.twig' %}

{% block invoice %}
    {% set isDecimal = model.template.decimalDuration|default(false) %}
    {% set currency = model.currency %}
    <div class="row">
        <div class="col-xs-12">
            {% block page_header %}
            <h2 class="page-header">
                <span contenteditable="true">{{ model.template.title }}</span>
                <small class="pull-right">{{ 'label.date'|trans }}: {{ model.invoiceDate|date_short }}</small>
            </h2>
            {% endblock %}
        </div>
    </div>

    {% block addresses %}
    <div class="row">
        <div class="col-sm-5">
            {% block addresses_to %}
            {{ 'invoice.to'|trans }}
            <address contenteditable="true">
                <strong>{{ model.customer.company|default(model.customer.name) }}</strong><br>
                {{ model.customer.address|nl2br }}
                {% if model.customer.vatId is not empty %}
                    <br>
                    {{ 'label.vat_id'|trans }}: {{ model.customer.vatId }}
                {% endif %}
                {% if model.customer.number is not empty %}
                    <br>
                    {{ 'label.number'|trans }}: {{ model.customer.number }}
                {% endif %}
                {% if model.query.project is not empty and model.query.project.orderNumber is not empty %}
                    <br>
                    {{ 'label.orderNumber'|trans }}: {{ model.query.project.orderNumber }}
                {% endif %}
            </address>
            {% endblock %}
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            {% block addresses_from %}
            {{ 'invoice.from'|trans }}
            <address contenteditable="true">
                <strong>{{ model.template.company }}</strong><br>
                {{ model.template.address|trim|nl2br }}
                {% if model.template.vatId is not empty %}
                <br>
                {{ 'label.vat_id'|trans }}:
                {{ model.template.vatId }}
                {% endif %}
            </address>
            {% endblock %}
        </div>
    </div>
    {% endblock %}

    <div class="row">
        <div class="col-sm-5">
            {% block invoice_details %}
            <p contenteditable="true">
                <strong>{{ 'invoice.number'|trans }}:</strong>
                {{ model.invoiceNumber }}

                <br>
                <strong>{{ 'invoice.due_days'|trans }}:</strong>
                {{ model.dueDate|date_short }}
            </p>
            {% endblock %}
        </div>
        <div class="col-sm-7"></div>
    </div>

    {% block items %}
    <div class="row invoice-items">
        <div class="col-xs-12 table-responsive">
            <table class="table">
                <thead>
                    {% block items_head %}
                    <tr>
                        {% block items_head_inner %}
                        <th>{{ 'label.date'|trans }}</th>
                        <th>{{ 'label.description'|trans }}</th>
                        <th class="text-right">{{ 'label.unit_price'|trans }}</th>
                        <th class="text-right">{{ 'label.amount'|trans }}</th>
                        <th class="text-right">{{ 'label.total_rate'|trans }}</th>
                        {% endblock %}
                    </tr>
                    {% endblock %}
                </thead>
                <tbody>
                {% block items_body %}
                {% for entry in model.calculator.entries %}
                    {% set duration = entry.duration|duration(isDecimal) %}
                    {% if entry.fixedRate %}
                        {% set rate = entry.fixedRate %}
                        {% set duration = entry.amount|amount %}
                    {% else %}
                        {% set rate = entry.hourlyRate %}
                    {% endif %}

                    {% block items_body_entry_row %}
                    <tr>
                        {% block items_body_entry_row_inner %}
                        <td nowrap class="text-nowrap">{{ entry.begin|date_short }}</td>
                        <td contenteditable="true">
                            {% if entry.description is not empty %}
                                {{ entry.description|nl2br }}
                            {% else %}
                                {% if entry.activity is not null %}{{ entry.activity.name }} / {% endif %}{{ entry.project.name }}
                            {% endif %}
                        </td>
                        <td nowrap class="text-nowrap text-right">{{ rate|money(currency) }}</td>
                        <td nowrap class="text-nowrap text-right">{{ duration }}</td>
                        <td nowrap class="text-nowrap text-right">{{ entry.rate|money(currency) }}</td>
                        {% endblock %}
                    </tr>
                    {% endblock %}
                {% endfor %}
                {% endblock %}
                </tbody>
                <tfoot>
                {% block items_foot %}
                    {% if model.calculator.tax > 0 %}
                        {% block items_foot_subtotal %}
                        <tr>
                            <td colspan="4" class="text-right">
                                {{ 'invoice.subtotal'|trans }}
                            </td>
                            <td class="text-right">{{ model.calculator.subtotal|money(currency) }}</td>
                        </tr>
                        {% endblock %}
                        {% block items_foot_tax %}
                        <tr>
                            <td colspan="4" class="text-right">
                                {{ 'invoice.tax'|trans }} ({{ model.calculator.vat }}%)
                            </td>
                            <td class="text-right">{{ model.calculator.tax|money(currency) }}</td>
                        </tr>
                        {% endblock %}
                    {% endif %}
                    {% block items_foot_total %}
                    <tr>
                        <td colspan="4" class="text-right text-nowrap">
                            <strong>{{ 'invoice.total'|trans }}</strong>
                        </td>
                        <td class="text-right">
                            <strong>{{ model.calculator.total|money(currency) }}</strong>
                        </td>
                    </tr>
                    {% endblock %}
                {% endblock %}
                </tfoot>
            </table>
        </div>
    </div>
    {% endblock %}

    {% block bottom_notes %}
    <div class="row">
        <div class="col-xs-12">
            {% block payment_terms %}
            {% if model.template.paymentTerms is not empty %}
            <div contenteditable="true" class="paymentTerms">
                {{ model.template.paymentTerms|md2html }}
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        {% block footer_inner %}
        <p>
            <strong>{{ 'label.address'|trans }}</strong>: {{ model.template.company }} &ndash; {{ model.template.address|nl2str(' &ndash; ') }}
            <br>
            <strong>{{ 'label.invoice_bank_account'|trans }}</strong>: {{ model.template.paymentDetails|nl2str(' &ndash; ') }}
            <br>
            <strong>{{ 'label.contact'|trans }}</strong>: {{ model.template.contact|nl2str(' &ndash; ') }}
        </p>
        {% endblock %}
    </footer>
    {% endblock %}
{% endblock %}
