<!DOCTYPE html>
{% set fallback = app.request is not null ? app.request.locale : 'en' %}
{% set language = model.template.language|default(fallback) %}
{% set isDecimal = model.template.decimalDuration|default(false) %}
{% set currency = model.currency %}
<html lang="{{ language }}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{{ model.invoiceNumber }}-{{ model.customer.company|default(model.customer.name)|u.snake }}{% endblock %}</title>
        {% block styles %}
        <style type="text/css">
            {{ encore_entry_css_source('invoice-pdf')|raw }}
        </style>
        {% endblock %}
    {% endblock %}
</head>
<body>
<!--mpdf
{% block pdf_header %}
<htmlpageheader name="header">
    <table class="header">
        <tr>
            <td class="title">
                {{ model.template.title }}
            </td>
            <td class="date text-right">
                {{ 'label.date'|trans }}: {{ model.invoiceDate|date_short }}
            </td>
        </tr>
    </table>
</htmlpageheader>
<sethtmlpageheader name="header" page="ALL" value="on" show-this-page="1" />
{% endblock %}

{% block pdf_footer %}
<htmlpagefooter name="footer">
    <table class="footer">
        <tr>
            <td>
                <strong>{{ 'label.contact'|trans }}</strong>:
                {{ model.template.contact|nl2str(' &ndash; ') }}
                <br>
                <strong>{{ 'label.invoice_bank_account'|trans }}</strong>:
                {{ model.template.paymentDetails|nl2str(' &ndash; ') }}
            </td>
            <td align="right">
                {{ 'export.page_of'|trans({'%page%': '{PAGENO}', '%pages%': '{nb}'}) }}
            </td>
        </tr>
    </table>
</htmlpagefooter>
<sethtmlpagefooter page="ALL" value="on" name="footer" show-this-page="1" />
{% endblock %}
mpdf-->

{% block body_start %}{% endblock %}
{% block wrapper %}
<div class="wrapper">
    {% block addresses %}
    <table class="addresses">
        <tr>
            <td style="width:60%">
                {{ 'invoice.to'|trans }}
                <br>
                <strong>{{ model.customer.company|default(model.customer.name) }}</strong>
                <br>
                {{ model.customer.address|nl2br }}
                {% if model.customer.vatId is not empty %}
                    <br>
                    {{ 'label.vat_id'|trans }}: {{ model.customer.vatId }}
                {% endif %}
            </td>
            <td>
                {{ 'invoice.from'|trans }}
                <br>
                <strong>{{ model.template.company }}</strong>
                <br>
                {{ model.template.address|trim|nl2br }}
                {% if model.template.vatId is not empty %}
                    <br>
                    {{ 'label.vat_id'|trans }}:
                    {{ model.template.vatId }}
                {% endif %}
            </td>
        </tr>
    </table>
    {% endblock %}

    {% block invoice_details %}
    <p>
        {{ 'invoice.number'|trans }}:
        {{ model.invoiceNumber }}

        <br>
        {{ 'invoice.due_days'|trans }}:
        {{ model.dueDate|date_short }}

        {% if model.customer.number is not empty %}
            <br>
            {{ 'label.number'|trans }}:
            {{ model.customer.number }}
        {% endif %}

        {% if model.query.project is not empty and model.query.project.orderNumber is not empty %}
            <br>
            {{ 'label.orderNumber'|trans }}:
            {{ model.query.project.orderNumber }}
        {% endif %}
    </p>
    {% endblock %}

    {% block items %}
    <table class="items">
        <thead>
            {% block items_head %}
            <tr>
                {% block items_head_inner %}
                <th class="first"><strong>{{ 'label.date'|trans }}</strong></th>
                <th><strong>{{ 'label.description'|trans }}</strong></th>
                {% block items_head_additional_columns %}{% endblock %}
                <th class="text-right"><strong>{{ 'label.unit_price'|trans }}</strong></th>
                <th class="text-right"><strong>{{ 'label.amount'|trans }}</strong></th>
                <th class="last text-right"><strong>{{ 'label.total_rate'|trans }}</strong></th>
                {% endblock %}
            </tr>
            {% endblock %}
        </thead>
        <tbody>
        {% block items_body %}
        {% for id, entry in model.calculator.entries %}
            <!-- CONTENT_PART -->
            {% set duration = entry.duration|duration(isDecimal) %}
            {% if entry.fixedRate %}
                {% set rate = entry.fixedRate %}
                {% set duration = entry.amount|amount %}
            {% else %}
                {% set rate = entry.hourlyRate %}
            {% endif %}

            {% block items_body_entry_row %}
            <tr{# class="{{ cycle(['odd', 'even'], id) }}"#}>
                {% block items_body_entry_row_inner %}
                <td nowrap class="first text-nowrap">{{ entry.begin|date_short }}</td>
                <td contenteditable="true">
                    {% if entry.description is not empty %}
                        {{ entry.description|nl2br }}
                    {% else %}
                        {% if entry.activity is not null %}{{ entry.activity.name }} / {% endif %}{{ entry.project.name }}
                    {% endif %}
                </td>
                {% block items_body_additional_columns %}{% endblock %}
                <td nowrap class="text-nowrap text-right">{{ rate|money(currency) }}</td>
                <td nowrap class="text-nowrap text-right">{{ duration }}</td>
                <td nowrap class="last text-nowrap text-right">{{ entry.rate|money(currency) }}</td>
                {% endblock %}
            </tr>
            {% endblock %}
        {% endfor %}
        {% endblock %}
        </tbody>
        <tfoot>
        {% block items_foot %}
            {% if model.calculator.tax > 0 %}
            {% block items_foot_subtotal %}
            <tr>
                <td colspan="4" class="text-right">
                    {{ 'invoice.subtotal'|trans }}
                </td>
                <td class="last text-right">{{ model.calculator.subtotal|money(currency) }}</td>
            </tr>
            {% endblock %}
            {% block items_foot_tax %}
            <tr>
                <td colspan="4" class="text-right">
                    {{ 'invoice.tax'|trans }} ({{ model.calculator.vat }}%)
                </td>
                <td class="last text-right">{{ model.calculator.tax|money(currency) }}</td>
            </tr>
            {% endblock %}
            {% endif %}
            {% block items_foot_total %}
            <tr>
                <td colspan="4" class="text-right text-nowrap">
                    <strong>{{ 'invoice.total'|trans }}</strong>
                </td>
                <td class="last text-right">
                    <strong>{{ model.calculator.total|money(currency) }}</strong>
                </td>
            </tr>
            {% endblock %}
        {% endblock %}
        </tfoot>
    </table>
    {% endblock %}

    {% block payment_terms %}
    {% if model.template.paymentTerms is not empty %}
    <div class="paymentTerms">
        {{ model.template.paymentTerms|md2html }}
    </div>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}
{% block body_end %}{% endblock %}
</body>
</html>
