{% import "macros/widgets.html.twig" as widgets %}
{% extends 'invoice/layout.html.twig' %}
{% set fallback = app.request is not null ? app.request.locale : 'en' %}
{% set language = model.template.language|default(fallback) %}
{% set isDecimal = model.template.decimalDuration|default(false) %}
{% set currency = model.currency %}

{% block invoice %}
<div class="row" id="freelancer-invoice">
    <div class="col-xs-12">
        <header>
            <address>
                <p contenteditable="true">{{ model.template.company }} &ndash; {{ model.template.address|replace({"\n": ' &ndash; ', "\r\n": ' &ndash; ', "\r": ' &ndash; '})|raw }}</p>
            </address>
        </header>
        <article class="address">
            <h1>{{ 'invoice.to'|trans({}, 'messages', language) }}</h1>
            <address>
                <p>
                    <strong>{{ model.customer.company|default(model.customer.name) }}</strong><br>
                    {{ model.customer.address|nl2br }}
                    {% if model.customer.vatId is not empty %}
                    <br>
                    {{ 'label.vat_id'|trans({}, 'messages', language) }}: {{ model.customer.vatId }}
                    {% endif %}
                </p>
            </address>
            <table class="meta">
                <tr>
                    <th>{{ 'label.date'|trans({}, 'messages', language) }}:</th>
                    <td contenteditable="true">{{ model.invoiceDate|date_short }}</td>
                </tr>
                <tr>
                    <th>{{ 'invoice.service_date'|trans({}, 'messages', language) }}:</th>
                    <td><span contenteditable="true">{{ model.query.end|month_name|trans({}, 'messages', language) }} {{ model.query.end|date('Y') }}</span></td>
                </tr>
                <tr>
                    <th>{{ 'invoice.number'|trans({}, 'messages', language) }}:</th>
                    <td>{{ model.invoiceNumber }}</td>
                </tr>
                {% if model.query.project is not empty and model.query.project.orderNumber is not empty %}
                    <tr>
                        <th>{{ 'label.orderNumber'|trans({}, 'messages', language) }}</th>
                        <td contenteditable="true">
                            {{ model.query.project.orderNumber }}
                        </td>
                    </tr>
                {% endif %}
                {% if model.template.vatId is not empty %}
                    <tr>
                        <th>{{ 'label.vat_id'|trans({}, 'messages', language) }}:</th>
                        <td>
                            {{ model.template.vatId }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </article>
        <article class="invoice-items">
            <h2>{{ model.template.title }}</h2>
            <table class="inventory">
                <thead>
                    <tr>
                        <th>{{ 'label.description'|trans({}, 'messages', language) }}</th>
                        <th class="text-right">{{ 'label.unit_price'|trans({}, 'messages', language) }}</th>
                        <th class="text-right">{{ 'label.amount'|trans({}, 'messages', language) }}</th>
                        <th class="text-right">{{ 'label.total_rate'|trans({}, 'messages', language) }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in model.calculator.entries %}
                    {% set duration = entry.duration|duration(isDecimal) %}
                    {% if entry.fixedRate is not null %}
                        {% set rate = entry.fixedRate %}
                        {% set duration = entry.amount|amount %}
                    {% else %}
                        {% set rate = entry.hourlyRate %}
                    {% endif %}

                    <tr>
                        <td contenteditable="true">
                            {% if entry.description is not empty %}
                                {{ entry.description|nl2br }}
                            {% else %}
                                {% if entry.activity is not null %}{{ entry.activity.name }} / {% endif %}{{ entry.project.name }}
                            {% endif %}
                        </td>
                        <td class="text-right text-nowrap">{{ rate|money(currency) }}</td>
                        <td class="text-right text-nowrap">{{ duration }}</td>
                        <td class="text-right text-nowrap">{{ entry.rate|money(currency) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="balance">
                <tr>
                    <th>{{ 'invoice.subtotal'|trans({}, 'messages', language) }}</th>
                    <td>{{ model.calculator.subtotal|money(currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'invoice.tax'|trans({}, 'messages', language) }} ({{ model.calculator.vat }}%)</th>
                    <td>{{ model.calculator.tax|money(currency) }}</td>
                </tr>
                <tr>
                    <th class="total">{{ 'invoice.total'|trans({}, 'messages', language) }}</th>
                    <td class="total">{{ model.calculator.total|money(currency) }}</td>
                </tr>
            </table>
        </article>
        {% if model.template.paymentTerms is not empty %}
            <article class="paymentTerms">
                <div contenteditable="true">
                    {{ model.template.paymentTerms|nl2br|md2html }}
                </div>
            </article>
        {% endif %}
        <footer class="footer">
            <div class="row">
                <div class="col-sm-4" contenteditable="true">
                    <p>
                        <strong>{{ 'label.address'|trans({}, 'messages', language) }}</strong>
                    </p>
                    <p>
                        {{ model.template.company }}<br>
                        {{ model.template.address|nl2br }}
                    </p>
                </div>
                <div class="col-sm-4 text-center" contenteditable="true">
                    <p>
                        <strong>{{ 'label.invoice_bank_account'|trans({}, 'messages', language) }}</strong>
                    </p>
                    <p>
                        {{ model.template.paymentDetails|nl2br }}
                    </p>
                </div>
                <div class="col-sm-4 text-right" contenteditable="true">
                    <p>
                        <strong>{{ 'label.contact'|trans({}, 'messages', language) }}</strong>
                    </p>
                    <p>
                        {{ model.template.contact|nl2br }}
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}