{% extends 'invoice/layout.html.twig' %}

{% block invoice %}
{% set isDecimal = true %}
{% set currency = model.currency %}
{% set project = model.query.project %}
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">
            <span contenteditable="true">{{ model.template.title }}</span>
            <small class="pull-right">{{ 'date'|trans }}: {{ model.invoiceDate|date_short }}</small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        {{ 'invoice.to'|trans }}
        <address contenteditable="true">
            <strong>{{ model.customer.company|default(model.customer.name) }}</strong><br>
            {{ model.customer.address|nl2br }}
            {% if model.customer.vatId is not empty %}
                <br>
                {{ 'vat_id'|trans }}: {{ model.customer.vatId }}
            {% endif %}
            {% if model.customer.number is not empty %}
                <br>
                {{ 'number'|trans }}: {{ model.customer.number }}
            {% endif %}
            {% if project is not null and project.orderNumber is not empty %}
                <br>
                {{ 'orderNumber'|trans }}: {{ project.orderNumber }}
            {% endif %}
        </address>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
        {{ 'invoice.from'|trans }}
        <address contenteditable="true">
            <strong>{{ model.template.company }}</strong><br>
            {{ model.template.address|trim|nl2br }}
            {% if model.template.vatId is not empty %}
            <br>
            {{ 'vat_id'|trans }}:
            {{ model.template.vatId }}
            {% endif %}
        </address>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <p contenteditable="true">
            <strong>{{ 'invoice.number'|trans }}:</strong>
            {{ model.invoiceNumber }}
            
            <br>
            <strong>{{ 'invoice.due_days'|trans }}:</strong>
            {{ model.dueDate|date_short }}
        </p>
    </div>
    <div class="col-sm-7"></div>
</div>

<div class="row invoice-items mt-2 mb-3">
    <div class="col-xs-12 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'date'|trans }}</th>
                    <th>{{ 'description'|trans }}</th>
                    <th class="text-end">{{ 'unit_price'|trans }}</th>
                    <th class="text-end">{{ 'amount'|trans }}</th>
                    <th class="text-end">{{ 'total_rate'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in model.calculator.entries %}
                {% set duration = entry.duration|duration(isDecimal) %}
                {% if entry.fixedRate %}
                    {% set rate = entry.fixedRate %}
                    {% set duration = entry.amount|amount %}
                {% else %}
                    {% set rate = entry.hourlyRate %}
                {% endif %}
                <tr>
                    <td nowrap class="text-nowrap">{{ entry.begin|date_short }}</td>
                    <td contenteditable="true">
                        {% if entry.description is not empty %}
                            {{ entry.description|nl2br }}
                        {% else %}
                            {% if entry.activity is not null %}{{ entry.activity.name }} / {% endif %}{{ entry.project.name }}
                        {% endif %}
                    </td>
                    <td nowrap class="text-nowrap text-end">{{ rate|money(currency) }}</td>
                    <td nowrap class="text-nowrap text-end">{{ duration }}</td>
                    <td nowrap class="text-nowrap text-end">{{ entry.rate|money(currency) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                {% if model.calculator.tax > 0 or not model.isHideZeroTax() %}
                <tr>
                    <td colspan="4" class="text-end">
                        {{ 'invoice.subtotal'|trans }}
                    </td>
                    <td class="text-end">{{ model.calculator.subtotal|money(currency) }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-end">
                        {{ 'invoice.tax'|trans }} ({{ model.calculator.vat }}%)
                    </td>
                    <td class="text-end">{{ model.calculator.tax|money(currency) }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="text-end text-nowrap">
                        <strong>{{ 'invoice.total'|trans }}</strong>
                    </td>
                    <td class="text-end">
                        <strong>{{ model.calculator.total|money(currency) }}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% if model.template.paymentTerms is not empty %}
        <div contenteditable="true" class="paymentTerms">
            {{ model.template.paymentTerms|md2html }}
        </div>
        {% endif %}
    </div>
</div>

<footer class="footer">
    <p>
        <strong>{{ 'address'|trans }}</strong>: {{ model.template.company }} &ndash; {{ model.template.address|nl2str(' – ') }}
        <br>
        <strong>{{ 'invoice_bank_account'|trans }}</strong>: {{ model.template.paymentDetails|nl2str(' – ') }}
        <br>
        <strong>{{ 'contact'|trans }}</strong>: {{ model.template.contact|nl2str(' – ') }}
    </p>
</footer>
{% endblock %}
