{% import "macros/widgets.html.twig" as widgets %}
{% extends 'invoice/layout.html.twig' %}
{% set fallback = app.request is not null ? app.request.locale : 'en' %}
{% set language = model.template.language|default(fallback) %}
{% set isDecimal = model.template.decimalDuration|default(false) %}

{% block invoice %}
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">
           <span contenteditable="true">{{ model.template.title }}</span>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table no-border table-condensed">
            <tr>
                <th>{{ 'invoice.from'|trans({}, 'messages', language) }}</th>
                <td contenteditable="true">
                    {% if model.query.user is not empty %}
                        {{ widgets.username(model.query.user) }}
                    {% else %}
                        {{ model.template.company }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.date'|trans({}, 'messages', language) }}</th>
                <td contenteditable="true">
                    {% if model.query.begin|date('m') != model.query.end|date('m') or model.query.begin|date('Y') != model.query.end|date('Y') %}
                        {{ model.query.begin|date_short }} - {{ model.query.end|date_short }}
                    {% else %}
                        {{ model.query.end|month_name|trans({}, 'messages', language) }} {{ model.query.end|date('Y') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.customer'|trans({}, 'messages', language) }}</th>
                <td contenteditable="true">
                    {% if model.customer.number is not empty %}[{{ model.customer.number }}]{% endif %}
                    {{ model.customer.name }}{% if model.customer.contact is not empty %} / {{ model.customer.contact }}{% endif %}
                </td>
            </tr>
            {% if model.query.project is not empty and model.query.project.orderNumber is not empty %}
                <tr>
                    <th>{{ 'label.orderNumber'|trans({}, 'messages', language) }}</th>
                    <td contenteditable="true">
                        {{ model.query.project.orderNumber }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>

<div class="row invoice-items">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.date'|trans({}, 'messages', language) }}</th>
                {% if model.query.user is empty %}
                <th>{{ 'label.user'|trans({}, 'messages', language) }}</th>
                {% endif %}
                <th>{{ 'label.activity'|trans({}, 'messages', language) }}</th>
                <th>{{ 'label.hours'|trans({}, 'messages', language) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in model.calculator.entries %}
            <tr>
                <td>{{ entry.begin|date_short }}</td>
                {% if model.query.user is empty %}
                    <td>{{ widgets.username(entry.user) }}</td>
                {% endif %}
                <td contenteditable="true">
                    {% if entry.description is not empty %}
                        {{ entry.description|nl2br }}
                    {% else %}
                        {% if entry.activity is not null %}{{ entry.activity.name }} / {% endif %}{{ entry.project.name }}
                    {% endif %}
                </td>
                <td class="text-nowrap">{{ entry.duration|duration(isDecimal) }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                {% if model.query.user is empty %}
                <th></th>
                {% endif %}
                <th>{{ 'invoice.total_working_time'|trans({}, 'messages', language) }}</th>
                <th class="text-nowrap">{{ model.calculator.timeWorked|duration(isDecimal) }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% if model.template.paymentTerms is not empty %}
            <p class="lead">{{ 'label.payment_terms'|trans({}, 'messages', language) }}</p>

            <p class="text-muted well well-sm no-shadow" contenteditable="true" style="margin-bottom: 100px">
                {{ model.template.paymentTerms|trim|nl2br }}
            </p>
        {% endif %}

        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th style="padding-bottom: 60px">{{ 'invoice.signature_user'|trans({}, 'messages', language) }}</th>
                </tr>
                <tr>
                    <th>{{ 'invoice.signature_customer'|trans({}, 'messages', language) }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}