{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block main %}
    {% if form is defined %}
    <div class="card mb-3">
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'form-reporting', 'id': 'report-form'}}) }}
            <div class="btn-list w-100">
                {{ form_widget(form.date) }}
                {% if form.user is defined %}
                    {{ form_widget(form.user, {'label': false}) }}
                {% elseif app.user != user %}
                    {{ widgets.username(user) }}
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const contractForm = document.getElementById('contract-form');
        if (contractForm !== null) {
            contractForm.addEventListener('change', () => {
                contractForm.submit();
            });
        }
    </script>
{% endblock %}
