{% extends '@theme/layout/default-layout.html.twig' %}

{% block body_start %}
    data-title="{{- get_title()|e('html_attr') -}}"
{%- endblock -%}

{% block page_title -%}{{- get_title() -}}{%- endblock %}

{% block after_body_start %}
    {% embed '@theme/embeds/modal.html.twig' %}
        {% block modal_id %}remote_form_modal{% endblock %}
        {% block modal_title %}{% endblock %}
        {% block modal_body %}{% endblock %}
        {% block modal_footer %}{% endblock %}
    {% endembed %}
    {% block page_search %}{% endblock %}
{% endblock %}

{% block page_content_start %}
    {% if app.session and app.session.started and app.session.flashbag.peekAll|length > 0 %}
        {% set domain = 'flashmessages' %}
        <script type="text/javascript">
            document.addEventListener('kimai.initialized', function(options) {
                var ALERT = options.detail.kimai.getPlugin('alert');
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        {% if type == 'error' %}
                            ALERT.error('{{ message|trans({}, domain)|e('js') }}');
                        {% elseif type == 'warning' %}
                            ALERT.warning('{{ message|trans({}, domain)|e('js') }}');
                        {% elseif type == 'success' %}
                            ALERT.success('{{ message|trans({}, domain)|e('js') }}');
                        {% else %}
                            ALERT.info('{{ message|trans({}, domain)|e('js') }}');
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            });
        </script>
    {% endif %}
{% endblock %}

{% block page_content_before %}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::CONTENT_BEFORE')) %}
    {{ event.content|raw }}
    <div class="d-print-none hidden-no-space">
        {% block main_before %}{% endblock %}
    </div>
{% endblock %}

{% block page_content_after %}
    {% block main_after %}{% endblock %}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::CONTENT_AFTER')) %}
    {{ event.content|raw }}
{% endblock %}

{% block page_content %}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::CONTENT_START')) %}
    {{ event.content|raw }}
    {% block main %}{% endblock %}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::CONTENT_END')) %}
    {{ event.content|raw }}
{% endblock %}

{% block title %}
    {{- get_title() -}}
{% endblock %}

{% block page_pretitle %}{% endblock %}

{% block page_subtitle %}
    {%- if block('subtitle') is defined -%}
    <div class="text-muted mt-1">{{ block('subtitle') }}</div>
    {%- endif -%}
{% endblock %}

{% block logo_mini %}
    {% set mini = config('theme.branding.mini') %}
    {% if mini is not empty %}
        {{ mini|raw }}
    {% else %}
        <b>K</b>TT
    {% endif %}
{% endblock %}

{% block logo_large %}
    {% set company = config('theme.branding.company') %}
    {% if company is not empty %}
        {{ company|raw }}
    {% else %}
        <b>Kimai</b> - Time Tracking
    {% endif %}
{% endblock %}

{% block footer %}
    {% if app.request.attributes.get('_route') == 'dashboard' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block navbar_start %}
    {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% block navbar_extensions %}{% endblock %}
        {% if is_granted('create_own_timesheet') %}
            {% include '@theme/ticktack.html.twig' %}
        {% endif %}
        {% include '@Tabler/recent-activities.html.twig' %}
    {% endif %}
{% endblock %}

{# deactivated blocks from the original theme #}
{% block navbar_search %}{% endblock %}

{% block page_actions %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::STYLESHEET')) %}
    {{ event.content|raw }}
{% endblock %}

{% block head %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {% include 'partials/head.html.twig' %}
    {% set event = trigger(constant('App\\Event\\ThemeEvent::HTML_HEAD')) %}
    {{ event.content|raw }}
{% endblock %}

{% block javascripts %}
    {# no call to parent(), as we use a custom built for the frontend assets and don't want the default <script> #}
    <script type="text/javascript">
        window.addEventListener('load', function() {
            var loader = new KimaiWebLoader(
                {
                    formatDuration: '{{ get_format_duration() }}',
                    login: '{{ path('login') }}',
                    locale: '{{ app.request.locale }}',
                    first_dow_iso: {{ iso_day_by_name(app.user.firstDayOfWeek) }},
                    twentyFourHours: {{ app.user.is24Hour() ? 'true' : 'false' }},
                    defaultColor: '{{ constant('App\\Constants::DEFAULT_COLOR') }}',
                    updateBrowserTitle: {% if app.user.preferenceValue('theme.update_browser_title') %}true{% else %}false{% endif %}
                },
                {
                {% for key, translation in javascript_translations() -%}
                    '{{ key }}': '{{ translation.0|trans({}, translation.1)|escape('js') }}',
                {%- endfor %}
                }
            );
            window.kimai = loader.getKimai();
        });
    </script>
    {% set event = trigger(constant('App\\Event\\ThemeEvent::JAVASCRIPT')) %}
    {{ event.content|raw }}
{% endblock %}
