{% extends '@AvanzuAdminTheme/layout/default-layout.html.twig' %}

{% block avanzu_page_content_before %}
    <div class="pad margin no-print">
        {% block main_before %}{% endblock %}
    </div>
{% endblock %}

{% block avanzu_page_content_after %}
    {% block main_after %}{% endblock %}
{% endblock %}

{% block avanzu_page_content %}
    {{ include('default/_flash_messages.html.twig') }}
    {% block main %}{% endblock %}
{% endblock %}

{% block avanzu_document_title %}
    {% block title %}{{ 'browser.title'|trans }}{% endblock %}
{% endblock %}

{% block avanzu_page_title %}
    {% block page_title %}{% endblock %}
{% endblock %}

{% block avanzu_page_subtitle %}
    {% block page_subtitle %}{% endblock %}
{% endblock %}

{% block avanzu_logo_path %}{{ path('dashboard') }}{% endblock %}

{% block avanzu_logo_mini %}
    <b>K</b>TT
{% endblock %}

{% block avanzu_logo_lg %}
    <b>Kimai</b> - Time Tracking
{% endblock %}

{% block avanzu_head %}{# right now we simply deactivate that box #}{% endblock %}

{% block avanzu_footer %}
    {% block footer %}
    <footer class="main-footer no-print">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ constant('App\\Constants::VERSION') }}
        </div>
        Made with ♥ by <a href="http://www.kevinpapst.de">Kevin Papst</a>.
        {{ 'footer.license'|trans }}
    </footer>
    <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    {% endblock %}
{% endblock %}

{% block avanzu_navbar_messages %}
    {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ render(controller('App\\Controller\\TimesheetController::activeEntriesAction')) }}
    {% endif %}
{% endblock %}

{% block avanzu_navbar_notifications %}
    {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ render(controller('App\\Controller\\ActivityController::recentActivitiesAction')) }}
    {% endif %}
{% endblock %}

{% block avanzu_navbar_toggle %}{{ parent() }}{% endblock %}
{% block avanzu_navbar_tasks %}{{ parent() }}{% endblock %}
{% block avanzu_navbar_user %}{{ parent() }}{% endblock %}
{% block avanzu_navbar_control_sidebar_toggle %}{{ parent() }}{% endblock %}

{% block avanzu_sidebar_user %}{# right now we simply deactivate that box #}{% endblock %}
{% block avanzu_sidebar_search %}{# right now we simply deactivate that box #}{% endblock %}
{% block avanzu_sidebar_nav %}{{ parent() }}{% endblock %}

{% block avanzu_breadcrumb %}{{ parent() }}{% endblock %}
{% block avanzu_control_sidebar %}{{ parent() }}{% endblock %}

{% block avanzu_javascripts %}
    {% block javascript_imports %}{% endblock %}
{% endblock %}

{% block avanzu_javascripts_inline %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.kimai.init({imagePath: '{{ asset('images') }}', confirmDelete: '{{ 'confirm.delete'|trans }}'});
            //$.kimai.pauseRecord('li.messages-menu ul.menu li');
        });
    </script>
{% endblock %}
