{% extends 'base.html.twig' %}

{% block page_title %}{{ 'http_error.title'|trans({}, 'exceptions') }}{% endblock %}
{% block page_subtitle %}{{ status_code }}{% endblock %}

{% block main %}
    {% set errorTitleKey = "http_error_#{status_code}.description" %}
    {% set errorTitleTrans = errorTitleKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% if errorTitleKey == errorTitleTrans %}
        {% set errorTitleKey = 'http_error.description' %}
        {% set errorTitleTrans = errorTitleKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% endif %}

    {% set errorMessageKey = "http_error_#{status_code}.suggestion" %}
    {% set errorMessageTrans = errorMessageKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% if errorMessageKey == errorMessageTrans %}
        {% set errorMessageKey = 'http_error.suggestion' %}
        {% set errorMessageTrans = errorMessageKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% endif %}

    <div class="error-page">
        <h2 class="headline text-yellow"> {{ status_code }}</h2>

        {% block error_content %}
        <div class="error-content">
            <h3>{% block error_icon %}{% endblock %} {{ errorTitleTrans }}</h3>
            <p>{{ errorMessageTrans }}</p>
            <a class="btn btn-primary" href="javascript:window.history.back();">{{ 'action.back'|trans }}</a>
        </div>
        {% endblock %}

    </div>
{% endblock %}
