{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            {% embed '@theme/embeds/card.html.twig' %}
                {% block box_title %}
                    {{ page_setup.title|trans }}
                {% endblock %}
                {% block box_body %}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.color) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.url) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.enabled) }}
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{ 'action.save'|trans }}</button>
                        <a href="{{ path('calendar_ics') }}" class="btn btn-secondary">{{ 'action.cancel'|trans }}</a>
                    </div>
                    {{ form_end(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %} 