{% if is_granted('start_own_timesheet') %}
    <div class="nav-item dropdown d-none d-md-flex me-3 notifications-menu">
        <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="{{ 'recent.activities'|trans }}">
            {{ icon('repeat') }}
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-card"
             data-api="{{ path('recent_timesheet') }}"
             data-href="{{ path('restart_timesheet', {'id' : '000'}) }}"
             data-template="{{ 'recent.activities.format'|trans }}"
             data-item-class="dropdown-item">
            <div class="card">
                <div class="card-header">{{ 'recent.activities'|trans }}</div>
                <div class=" menu">
                </div>
            </div>
        </div>
    </div>
{% endif %}
