{% extends 'reporting/layout.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}

{% block report_title %}{{ 'report_project_view'|trans({}, 'reporting') }}{% endblock %}

{% set columns = {
    'name':             {'class': 'alwaysVisible w-min'},
    'today':            {'class': 'text-center hw-min', 'title': 'stats.durationToday'|trans},
    'week':             {'class': 'text-center hw-min', 'title': 'stats.durationWeek'|trans},
    'month':            {'class': 'text-center hw-min', 'title': 'stats.durationMonth'|trans},
    'durationTotal':    {'class': 'hidden-md hidden-sm hidden-xs text-center hw-min', 'title': 'stats.durationTotal'|trans},
    'timeBudget':       {'title': 'label.timeBudget'|trans},
    'budget':           {'title': 'label.budget'|trans},
    'stateDuration':    {'class': 'hidden-sm hidden-xs text-center hw-min', 'title': 'label.not_exported'|trans},
    'stateMoney':       {'class': 'hidden-sm hidden-xs text-center hw-min', 'title': 'label.not_invoiced'|trans},
    'projectEnd':       {'class': 'hidden-md hidden-sm hidden-xs hidden text-nowrap text-center  w-min', 'title': 'label.project_end'|trans},
    'comment':          {'class': 'hidden-md hidden-sm hidden-xs hidden', 'title': 'label.comment'|trans},
    'actions':          {'class': 'actions alwaysVisible'},
} %}
{% set tableName = 'project_view_reporting' %}

{% block main_before %}
    {{ tables.data_table_column_modal(tableName, columns) }}
{% endblock %}

{% block report %}

    {% set hasData = entries|length > 0 %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/progressbar.html.twig" as progress %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% import "macros/datatables.html.twig" as tables %}
        {% block box_body_class %}project-view-reporting-box {% if hasData %}no-padding{% endif %} table-responsive{% endblock %}
        {% block box_before %}
            {{ form_start(form, {'attr': {'class': 'form-inline form-reporting', 'id': 'project-view-form'}}) }}
        {% endblock %}
        {% block box_after %}
            {{ form_end(form) }}
        {% endblock %}
        {% block box_tools %}
            {{ widgets.action_button('visibility', {'modal': '#modal_project_view_reporting', 'class': 'btn-sm'}) }}
        {% endblock %}
        {% block box_title %}
            {{ form_widget(form) }}
        {% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ widgets.nothing_found() }}
            {% else %}
                {{ tables.datatable_header(tableName, columns, null, {'bordered': true, 'striped': false, 'boxClass': ''}) }}

                    {% for id, mapping in entries|sort((a, b) => a.customer.name <=> b.customer.name) %}
                        {% if is_granted('budget', mapping.customer) %}
                            <tr class="summary">
                                <td colspan="11">{{ widgets.label_customer(mapping.customer) }}</td>
                            </tr>
                            {% for entry in mapping.projects|sort((a, b) => a.project.name <=> b.project.name) %}
                                {% set project = entry.project %}
                                {% set currency = project.customer.currency %}
                                {% if is_granted('budget', project) %}
                                    <tr>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'name') }}">{{ widgets.label_project(project) }}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'today') }}">{{ entry.durationDay|duration }}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'week') }}">{{ entry.durationWeek|duration }}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'month') }}">{{ entry.durationMonth|duration }}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'durationTotal') }}">{{ entry.durationTotal|duration }}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'timeBudget') }}">
                                            {% if project.timeBudget > 0 %}
                                                {{ progress.progressbar(project.timeBudget, entry.durationTotal|default(0), entry.durationTotal|duration ~ ' / ' ~ project.timeBudget|duration, '') }}
                                            {% endif %}
                                        </td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'budget') }}">
                                            {% if project.budget > 0 %}
                                                {{ progress.progressbar(project.budget, entry.rateTotal|default(0), entry.rateTotal|money(currency) ~ ' / ' ~ project.budget|money(currency), '') }}
                                            {% endif %}
                                        </td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'stateDuration') }}">
                                            {% if is_granted('create_export') %}
                                                <a href="{{ path('export', {'customers[]': project.customer.id, 'projects[]': project.id, 'daterange': '', 'preview': true}) }}">
                                                    {{ entry.notExportedDuration|duration }}
                                                </a>
                                            {% else %}
                                                {{ entry.notExportedDuration|duration }}
                                            {% endif %}
                                        </td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'stateMoney') }}">
                                            {% if is_granted('view_invoice') %}
                                                <a href="{{ path('invoice', {'customer': project.customer.id, 'projects[]': project.id, 'daterange': ''}) }}">
                                                    {{ entry.notExportedRate|money(currency) }}
                                                </a>
                                            {% else %}
                                                {{ entry.notExportedRate|money(currency) }}
                                            {% endif %}
                                        </td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'projectEnd') }}">{% if project.end is not null %}{{ project.end|date_short }}{% endif %}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'comment') }}">{{ project.comment }}</td>
                                        <td class="{{ tables.data_table_column_class(tableName, columns, 'actions') }}">
                                            {% if is_granted('view', project) %}
                                                <a class="btn btn-default btn-sm" href="{{ path('project_details', {'id': project.id}) }}">{{ widgets.icon('details') }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {{ tables.data_table_footer(entries) }}
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            $('#project-view-form').on('change', function(ev) {
                $(this).submit();
            });
        });
    </script>
{% endblock %}
