{% extends 'reporting/project_list_data.html.twig' %}

{% block report_form_layout %}
    {{ form_widget(form.customer, {'label': false, 'placeholder': 'customer'}) }}
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ icon('filter', true) }}
        </button>
        <ul class="dropdown-menu checkbox-menu">
            {% for option in form.budgetType.children %}
                <li class="dropdown-item">
                    {{ form_widget(option) }}
                </li>
            {% endfor %}
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
                {{ form_widget(form.includeNoWork) }}
            </li>
        </ul>
    </div>
    {% from '@theme/components/buttons.html.twig' import submit_button %}
    {{ submit_button('download', {'attr': {'formaction': path(export_route)}, 'icon': 'download', 'combined': false}, 'primary') }}
{% endblock %}
