{% extends 'reporting/layout.html.twig' %}
{% import "macros/charts.html.twig" as charts %}
{% import "macros/widgets.html.twig" as widgets %}

{% block report_title %}{{ 'report_project_details'|trans({}, 'reporting') }}{% endblock %}

{% set tableName = tableName|default('project_details_reporting') %}
{% set tableId = 'project-details-form' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('chart') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    {{ encore_entry_script_tags('chart') }}
{% endblock %}

{% block report %}

    {% set hasData = project_view is not null %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_body_class %}{{ tableName }}-box {% if hasData %}no-padding{% endif %}{% endblock %}
        {% block box_before %}
            {{ form_start(form, {'attr': {'class': 'form-inline form-reporting', 'id': tableId}}) }}
        {% endblock %}
        {% block box_after %}
            {{ form_end(form) }}
        {% endblock %}
        {% block box_title %}
            {{ form_widget(form) }}
        {% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ widgets.nothing_found() }}
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% if hasData %}
        {{ _self.project_details(project_view, project_details) }}
        {% set currency = project_view.project.customer.currency %}

        {%- for yearStat in project_details.years|reverse %}
            {% set year = yearStat.year %}
            {% set labels = [] %}
            {% set rates = [] %}
            {% set durations = [] %}
            {% set chartPrefix = 'chart' ~ yearStat.year %}
            {% for monthNumber in 1..12 %}
                {% set rate = 0 %}
                {% set duration = 0 %}
                {% set month = yearStat.month(monthNumber) %}
                {% if month is not null %}
                    {% set rate = month.totalRate %}
                    {% set duration = month.totalDuration %}
                {% endif %}
                {% set labels = labels|merge([create_date(year~'-'~monthNumber~'-01 00:00:00')|month_name]) %}
                {% set durations = durations|merge([{'tooltip': duration|duration, 'value': duration|duration_chart}]) %}
                {% set rates = rates|merge([{'tooltip': rate|money(currency), 'value': rate}]) %}
            {% endfor -%}

            {%- set activities = project_details.getYearActivities(year) -%}

            {%- if kimai_config.themeRandomColors %}
                {% for stat in activities %}
                    {% if stat.color is null %}
                        {% do stat.setColor(random_color(stat.name)) %}
                    {% endif %}
                {% endfor %}
            {% endif -%}

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a data-chart="{{ chartPrefix }}User" href="#user-chart-{{ year}}" data-toggle="tab">{{ 'label.user'|trans }}</a></li>
                    <li><a data-chart="{{ chartPrefix }}Activity" href="#activity-chart-{{ year}}" data-toggle="tab">{{ 'label.activity'|trans }}</a></li>
                    <li><a data-chart="{{ chartPrefix }}Rate" href="#revenue-chart-{{ year }}" data-toggle="tab">{{ 'stats.revenue'|trans }}</a></li>
                    <li class="active"><a data-chart="{{ chartPrefix }}Duration" href="#time-chart-{{ year }}" data-toggle="tab">{{ 'stats.workingTime'|trans }}</a></li>
                    <li class="pull-left header">{{ year }} <small>&ndash; {{ yearStat.duration|duration }}, {{ yearStat.rate|money(currency) }}</small></li>
                </ul>
                <div class="tab-content no-padding">
                    <div class="chart tab-pane active" id="time-chart-{{ year }}">
                        <div class="row">
                            <div class="col-xs-12">
                                {{ charts.bar_chart(chartPrefix ~ 'Duration', labels, [durations], {'height': '300px'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="revenue-chart-{{ year }}">
                        <div class="row">
                            <div class="col-xs-12">
                                {{ charts.bar_chart(chartPrefix ~ 'Rate', labels, [rates], {'height': '300px', 'renderEvent': 'render.' ~ chartPrefix ~ 'Rate'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="activity-chart-{{ year}}">
                        {{ _self.activity_tab(activities, yearStat.duration, currency, chartPrefix) }}
                    </div>
                    <div class="chart tab-pane" id="user-chart-{{ year}}">
                        {{ _self.user_tab(year, project_details.userYears(year)) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% macro user_tab(year, userYearStats) %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover dataTable">
                <tr>
                    <th>{{ 'label.username'|trans }}</th>
                    <th></th>
                    {% for monthNumber in 1..12 %}
                        <th>{{ create_date(year~'-'~monthNumber~'-01 00:00:00')|month_name }}</th>
                    {% endfor %}
                </tr>
                {% set yearTotal = 0 %}
                {% for userYearStat in userYearStats %}
                    {% set user = userYearStat.user %}
                    {% set userYear = userYearStat.year %}
                    {% set userTotal = userYearStat.duration %}
                    {% set yearTotal = yearTotal + userTotal %}
                    <tr>
                        <td class="text-nowrap">
                            <strong>{{ widgets.username(user) }}</strong>
                        </td>
                        <th class="text-nowrap text-center total">
                            {{ userTotal|duration }}
                        </th>
                        {% for monthNumber in 1..12 %}
                            {% set month = userYear.getMonth(monthNumber) %}
                            <td class="text-nowrap text-center">
                                {% if month is not null %}
                                    {{ month.totalDuration|duration }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <th class="text-nowrap text-center total">
                        {{ yearTotal|duration }}
                    </th>
                    {% for monthNumber in 1..12 %}
                        {% set total = 0 %}
                        {% for userYearStat in userYearStats %}
                            {% set month = userYearStat.year.getMonth(monthNumber) %}
                            {% if month is not null %}
                                {% set total = total + month.duration %}
                            {% endif %}
                        {% endfor %}
                        <th class="text-nowrap text-center total">
                        {{ total|duration }}
                        </th>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro activity_tab(activities, totalDuration, currency, chartPrefix) %}
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
            <table class="table table-hover dataTable">
                {% for stat in activities %}
                    {% set percentage = (100 / (totalDuration / stat.duration)) %}
                    <tr>
                        <td>{{ widgets.label_color_dot('activity', stat.activity.visible, stat.name, null, stat.color) }}</td>
                        <td class="text-nowrap text-right">{{ stat.duration|duration }}</td>
                        <td class="text-nowrap text-right">{{ stat.rate|money(currency) }}</td>
                        <td class="text-nowrap text-right">{{ percentage|number_format(1) }} %</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-6">
            {{ charts.doughnut_chart(chartPrefix ~ 'Activity', activities, {'height': (activities|length > 12 ? '600px' : '300px'), 'legend': {'position': (activities|length > 12 ? 'top' : 'right')}, 'currency': currency, 'renderEvent': 'render.' ~ chartPrefix ~ 'Activity'}) }}
        </div>
    </div>
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {{ charts.yearly_javascript() }}
    {{ charts.doughnut_javascript() }}
    {{ charts.bar_javascript() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            jQuery('#{{ tableId }}').on('change', function(ev) {
                jQuery(this).submit();
            });
        });

        jQuery('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            renderChart(e.target.dataset.chart);
        });

        function renderChart(chartName)
        {
            var found = false;

            Chart.helpers.each(Chart.instances, function(instance){
                if (instance.chart.canvas.id === chartName) {
                    found = true;
                }
            });

            if (!found) {
                document.dispatchEvent(new Event('render.' + chartName))
            }
        }
    </script>
{% endblock %}

{% macro project_details(entry, project_details) %}
    {% set activities = project_details.activities %}
    {% set years = project_details.years %}
    {% import "macros/progressbar.html.twig" as progress %}
    {% import "macros/widgets.html.twig" as widgets %}
    {% import "macros/charts.html.twig" as charts %}
    {% set project = entry.project %}
    {% set currency = project.customer.currency %}
    {% set chartPrefix = 'project' ~ project.id %}

    {%- if kimai_config.themeRandomColors %}
        {% for stat in activities %}
            {% if stat.color is null %}
                {% do stat.setColor(random_color(stat.name)) %}
            {% endif %}
        {% endfor %}
    {% endif -%}

    {%- set labels = [] %}
    {% set rates = [] %}
    {% set durations = [] %}
    {% for year in years %}
        {% set labels = labels|merge([year.year]) %}
        {% set rates = rates|merge([{'tooltip': year.rate|money(currency), 'value': year.rate}]) %}
        {% set durations = durations|merge([{'tooltip': year.duration|duration, 'value': year.duration|duration_chart}]) %}
    {% endfor -%}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">

            <li><a data-chart="{{ chartPrefix }}User" href="#user-chart" data-toggle="tab">{{ 'label.user'|trans }}</a></li>
            <li><a data-chart="{{ chartPrefix }}Activity" href="#activity-chart" data-toggle="tab">{{ 'label.activity'|trans }}</a></li>
            <li><a data-chart="{{ chartPrefix }}Rate" href="#revenue-chart" data-toggle="tab">{{ 'stats.revenue'|trans }}</a></li>
            <li><a data-chart="{{ chartPrefix }}Duration" href="#time-chart" data-toggle="tab">{{ 'stats.workingTime'|trans }}</a></li>
            <li class="active"><a href="#details-chart" data-toggle="tab">{{ 'report_project_details'|trans({}, 'reporting') }}</a></li>
            <li class="pull-left header">
                {{ widgets.label_project(project) }}
            </li>
        </ul>
        <div class="tab-content no-padding">
            <div class="chart tab-pane active" id="details-chart" style="position: relative; min-height: 300px;">
                <div class="row">
                    <div class="col-xs-12">

                        <table class="table table-hover dataTable">
                            <tr>
                                <th class="w-min">
                                    {{ 'label.customer'|trans }}
                                </th>
                                <td>
                                    {{ widgets.label_customer(entry.project.customer) }}
                                </td>
                            </tr>
                            <tr>
                                <th class="w-min">
                                    {{ 'label.last_record'|trans }}
                                </th>
                                <td>
                                    {% if entry.lastRecord is not null %}
                                        {{ entry.lastRecord|date_short }}
                                    {% else %}
                                        &ndash;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="w-min">
                                    {{ 'stats.durationToday'|trans }}
                                </th>
                                <td>{{ entry.durationDay|duration }}</td>
                            </tr>
                            <tr>
                                <th class="w-min">
                                    {{ 'stats.durationWeek'|trans }}
                                </th>
                                <td>{{ entry.durationWeek|duration }}</td>
                            </tr>
                            <tr>
                                <th class="w-min">
                                    {{ 'stats.durationMonth'|trans }}
                                </th>
                                <td>{{ entry.durationMonth|duration }}</td>
                            </tr>
                            <tr>
                                <th class="w-min">
                                    {{ 'stats.durationTotal'|trans }}
                                </th>
                                <td>{{ entry.durationTotal|duration }}</td>
                            </tr>
                            {% if is_granted('budget', project) %}
                                {% if project.timeBudget > 0 %}
                                    <tr>
                                        <th class="w-min">
                                            {{ 'label.timeBudget'|trans }}
                                        </th>
                                        <td>
                                            {% set timeBudgetLeft = project.timeBudget - entry.billableDuration %}
                                            {% set options = {
                                                'max': project.timeBudget|default(0),
                                                'current': entry.billableDuration|default(0),
                                                'open': timeBudgetLeft,
                                                'format': 'duration'
                                            } %}
                                            {{ progress.progressbar_full(options) }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if project.budget > 0 %}
                                    <tr>
                                        <th class="w-min">
                                            {{ 'label.budget'|trans }}
                                        </th>
                                        <td>
                                            {% set budgetLeft = project.budget - entry.billableRate %}
                                            {% set options = {
                                                'max': project.budget|default(0),
                                                'current': entry.billableRate|default(0),
                                                'open': budgetLeft,
                                                'format': 'money',
                                                'currency': currency
                                            } %}
                                            {{ progress.progressbar_full(options) }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            <tr>
                                <th class="w-min">
                                    {{ 'label.not_exported'|trans }}
                                </th>
                                <td>
                                    {% if is_granted('create_export') %}
                                        <a href="{{ path('export', {'customers[]': project.customer.id, 'projects[]': project.id, 'daterange': '', 'preview': true}) }}">
                                            {{ entry.notExportedDuration|duration }}
                                        </a>
                                    {% else %}
                                        {{ entry.notExportedDuration|duration }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="w-min">
                                    {{ 'label.not_invoiced'|trans }}
                                </th>
                                <td>
                                    {% if is_granted('view_invoice') %}
                                        <a href="{{ path('invoice', {'customers[]': project.customer.id, 'projects[]': project.id, 'daterange': ''}) }}">
                                            {{ entry.notBilledRate|money(currency) }}
                                        </a>
                                    {% else %}
                                        {{ entry.notBilledRate|money(currency) }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if project.start is not null %}
                                <tr>
                                    <th class="w-min">
                                        {{ 'label.project_start'|trans }}
                                    </th>
                                    <td>
                                        {{ project.start|date_short }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if project.end is not null %}
                                <tr>
                                    <th class="w-min">
                                        {{ 'label.project_end'|trans }}
                                    </th>
                                    <td>
                                        {{ project.end|date_short }}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>
                </div>
            </div>
            <div class="chart tab-pane" id="revenue-chart">
                {{ charts.bar_chart(chartPrefix ~ 'Rate', labels, [rates], {'height': '300px', 'renderEvent': 'render.' ~ chartPrefix ~ 'Rate'}) }}
            </div>
            <div class="chart tab-pane" id="time-chart">
                {{ charts.bar_chart(chartPrefix ~ 'Duration', labels, [durations], {'height': '300px', 'renderEvent': 'render.' ~ chartPrefix ~ 'Duration'}) }}
            </div>
            <div class="chart tab-pane" id="activity-chart">
                {{ _self.activity_tab(activities, entry.durationTotal, project.customer.currency, chartPrefix) }}
            </div>
            <div class="chart tab-pane" id="user-chart">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
                        <table class="table table-hover dataTable">
                            {% set rateTotal = 0 %}
                            {% set totalDuration = 0 %}
                            {% set datasets = [] %}
                            {% for userStat in project_details.userStats %}
                                {% set user = userStat.user %}
                                {% set color = kimai_config.themeRandomColors ? random_color(user.displayName) : kimai_context.chart.background_color %}
                                {% set rateTotal = rateTotal + userStat.rate %}
                                {% set totalDuration = totalDuration + userStat.duration %}
                                {% set datasets = datasets|merge([{'name': user.displayName, 'duration': userStat.duration, 'color': color, 'rate': userStat.rate}]) %}
                                {% set percentage = (100 / (entry.durationTotal / userStat.duration)) %}
                                <tr>
                                    <th class="text-nowrap">
                                        <strong>{{ widgets.username(user) }}</strong>
                                    </th>
                                    <td class="text-nowrap text-right">
                                        {{ userStat.duration|duration }}
                                    </td>
                                    <td class="text-nowrap text-right">
                                        {{ userStat.rate|money(currency) }}
                                    </td>
                                    <td class="text-nowrap text-right">
                                        {{ percentage|number_format(1) }} %
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <th class="text-nowrap text-right total">{{ totalDuration|duration }}</th>
                                    <th class="text-nowrap text-right total">{{ rateTotal|money(currency) }}</th>
                                    <td></td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-6">
                        {{ charts.doughnut_chart(chartPrefix ~ 'User', datasets, {'height': (datasets|length > 12 ? '600px' : '300px'), 'legend': {'position': (datasets|length > 12 ? 'top' : 'right')}, 'currency': currency, 'renderEvent': 'render.' ~ chartPrefix ~ 'User'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
