{% extends 'reporting/project_list_data.html.twig' %}

{% block report_form %}
    {{ form_start(form, {'attr': {'id': 'report-form'}}) }}
    <div class="btn-list w-100">
        {{ form_row(form.customer, {'label': false, 'placeholder': 'please_choose', 'row_attr': {'class': 'w-50'}}) }}
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ icon('filter', true) }}
            </button>
            <ul class="dropdown-menu checkbox-menu">
                {% for option in form.budgetType.children %}
                    <li class="dropdown-item">
                        {{ form_widget(option) }}
                    </li>
                {% endfor %}
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                    {{ form_widget(form.includeNoWork) }}
                </li>
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
