{% extends 'reporting/layout.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}

{% set columns = {
    'name':          {'class': 'alwaysVisible'},
    'timeBudget':    {'class': 'd-xs-none', 'title': 'label.timeBudget'|trans},
    'budget':        {'class': 'd-xs-none', 'title': 'label.budget'|trans},
    'duration':      {'class': 'text-center hw-min', 'title': 'stats.durationMonth'|trans, 'columnClass': 'w-min'},
    'rate':          {'class': 'text-center hw-min', 'title': 'stats.amountMonth'|trans, 'columnClass': 'w-min'},
    'billable':      {'class': 'text-center hw-min', 'columnClass': 'w-min'},
    'actions':       {'class': 'actions alwaysVisible'},
} %}
{% set tableName = 'project_daterange_reporting' %}

{% block main_before %}
    {{ tables.data_table_column_modal(tableName, columns) }}
{% endblock %}

{% block report_form %}
    {{ form_start(form, {'attr': {'class': 'd-flex form-reporting align-middle', 'id': 'project-daterange-form'}}) }}
    <div class="btn-list w-100">
        {{ form_row(form.customer, {'label': false, 'placeholder': 'please_choose', 'row_attr': {'class': 'w-50'}}) }}
        {{ form_row(form.month, {'label': false}) }}
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ icon('filter') }}
            </button>
            <ul class="dropdown-menu checkbox-menu">
                <li class="dropdown-item">
                    {{ form_widget(form.includeNoWork) }}
                </li>
                {% for option in form.budgetType.children %}
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        {{ form_widget(option) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block report %}

    {% set hasData = entries|length > 0 %}

    {% embed '@theme/embeds/card.html.twig' %}
        {% import "macros/progressbar.html.twig" as progress %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% import "macros/datatables.html.twig" as tables %}
        {% import "project/actions.html.twig" as projectActions %}
        {% block box_body_class %}{{ tableName }}-box {% if hasData %}p-0{% endif %}{% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ widgets.nothing_found() }}
            {% else %}
                {{ tables.datatable_header(tableName, columns, null, {'boxClass': ''}) }}

                {% for id, mapping in entries|sort((a, b) => a.customer.name <=> b.customer.name) %}
                    <tr class="summary">
                        <td colspan="{{ columns|length }}">{{ widgets.label_customer(mapping.customer) }}</td>
                    </tr>
                    {% for entry in mapping.projects|sort((a, b) => a.entity.name <=> b.entity.name) %}
                        {% set project = entry.entity %}
                        {% set currency = project.customer.currency %}
                        {% if is_granted('budget', project) %}
                            <tr {{ widgets.project_row_attr(project, queryEnd) }}>
                            {% for name, column_config in columns %}
                                <td class="{{ tables.data_table_column_class(tableName, columns, name) }}">
                                {% if name == 'name' %}
                                {{ widgets.label_project(project) }}
                                {% elseif name == 'duration' %}
                                    {{ entry.statistic.duration|duration }}
                                {% elseif name == 'rate' %}
                                    {{ entry.statistic.rate|money(currency) }}
                                {% elseif name == 'billable' %}
                                    {{ widgets.percent(entry.statistic.rate, entry.statistic.rateBillable) }}
                                {% elseif name == 'timeBudget' %}
                                    {{ progress.progressbar_timebudget(entry) }}
                                {% elseif name == 'budget' %}
                                    {{ progress.progressbar_budget(entry, currency) }}
                                {% elseif name == 'actions' %}
                                    {{ projectActions.project(project, 'custom') }}
                                {% endif %}
                                </td>
                            {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {{ tables.data_table_footer(entries) }}
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            jQuery('#project-daterange-form').on('change', function(ev) {
                jQuery(this).submit();
            });
        });
    </script>
{% endblock %}
