{% extends 'reporting/layout.html.twig' %}

{% block report_title %}{{ report_title|trans({}, 'reporting') }}{% endblock %}

{% block report %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_before %}
            {{ form_start(form, {'attr': {'class': 'form-inline form-reporting'}}) }}
        {% endblock %}
        {% block box_after %}
            {{ form_end(form) }}
        {% endblock %}
        {% block box_title %}
            {{ form_widget(form.date) }}
        {% endblock %}
        {% block box_body_class %}{{ box_id }} table-responsive {% if hasData %}no-padding{% endif %}{% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ widgets.nothing_found() }}
            {% else %}
                {% set totals = {} %}
                <table class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            {% for month in stats.0.getDateTimes() %}
                                <th class="text-center text-nowrap">
                                    <a href="{{ path('report_monthly_users', {'date': month|report_date}) }}">
                                        {{ month|month_name }}<br>
                                        {{ month|date_format('Y') }}
                                    </a>
                                </th>
                                {% set totals = totals|merge({(month|report_date): 0}) %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for userYear in stats|filter(row => row.user is not null) %}
                        {% set usersTotalDuration = 0 %}
                        <tr class="user">
                            <td class="text-nowrap">
                                {{ widgets.label_dot(userYear.user.displayName, userYear.user.color) }}
                            </td>
                                {% for mid, month in userYear.months %}
                                    {% if month.totalDuration > 0 %}
                                        {% set usersTotalDuration = usersTotalDuration + month.totalDuration %}
                                    {% endif %}
                                {% endfor %}
                            <th class="text-nowrap text-center total">
                                {{ usersTotalDuration|duration }}
                            </th>
                            {% for mid, month in userYear.getMonths() %}
                                <td class="text-nowrap text-center day-total">
                                    {% if month.totalDuration > 0 %}
                                        <a href="{{ path('report_user_month', {'date': create_date(month.date.format('Y') ~'-'~month.date.format('m')~'-01')|report_date, 'user': userYear.user.id}) }}" data-toggle="tooltip" title="{{ 'label.billable'|trans }}: {{ month.billableDuration|duration }}">
                                            {{ month.totalDuration|duration }}
                                        </a>
                                        {% set totals = totals|merge({(month.date|report_date): (totals[month.date|report_date] + month.totalDuration)}) %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="summary">
                            <td>{{ 'stats.durationTotal'|trans }}</td>
                            <td>&nbsp;</td>
                            {% for id, total in totals %}
                                <td class="text-center text-nowrap">
                                    {{ total|duration }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            jQuery('#{{ form.date.vars.id }}').on('change', function(ev) {
                jQuery(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}
