{% extends 'reporting/layout.html.twig' %}

{% block report_title %}{{ report_title|trans({}, 'reporting') }}{% endblock %}

{% block report_form %}
    {{ form_start(form, {'attr': {'class': 'd-flex form-reporting align-middle', 'id': 'user-list-filter-form'}}) }}
    {{ form_row(form.date, {'label': false, 'row_attr': {'class': 'me-2'}}) }}
    {% if form.sumType.vars.choices|length > 1 %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="{{ 'display'|icon }}"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu checkbox-menu">
                <li>
                    {{ form_widget(form.sumType) }}
                </li>
            </ul>
        </div>
    {% endif %}
    <button class="btn btn-primary" formaction="{{ path(export_route) }}" type="submit"><i class="{{ 'download'|icon }}"></i></button>
    {{ form_end(form) }}
{% endblock %}



{% block report %}

    {% embed '@theme/embeds/card.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_body_class %}{{ box_id }} table-responsive {% if hasData %}p-0{% endif %} m-0{% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ widgets.nothing_found() }}
            {% else %}
                {#
                {% embed 'reporting/user_list_period_data.html.twig' %}
                    {% block period_name %}
                        <th class="text-center text-nowrap">
                            <a href="{{ path('report_monthly_users', {'date': column|report_date, 'sumType': dataType}) }}">
                                {{ column|month_name }}<br>
                                {{ column|date_format('Y') }}
                            </a>
                        </th>
                    {% endblock %}
                    {% block total_rate_user %}
                        <a href="{{ path('report_user_year', {'sumType': dataType, 'date': create_date(query.date.format('Y') ~'-01-01')|report_date, 'user': userPeriod.user.id}) }}">
                            {{ usersTotalRate|money }}
                        </a>
                    {% endblock %}
                    {% block total_internal_rate_user %}
                        <a href="{{ path('report_user_year', {'sumType': dataType, 'date': create_date(query.date.format('Y') ~'-01-01')|report_date, 'user': userPeriod.user.id}) }}">
                            {{ usersTotalInternalRate|money }}
                        </a>
                    {% endblock %}
                    {% block total_duration_user %}
                        <a href="{{ path('report_user_year', {'sumType': dataType, 'date': create_date(query.date.format('Y') ~'-01-01')|report_date, 'user': userPeriod.user.id}) }}">
                            {{ usersTotalDuration|duration(decimal) }}
                        </a>
                    {% endblock %}
                    {% block rate %}
                        <a href="{{ path('report_user_month', {'sumType': dataType, 'date': create_date(period.date.format('Y') ~'-'~period.date.format('m')~'-01')|report_date, 'user': userPeriod.user.id}) }}" data-toggle="tooltip" title="{{ 'label.billable'|trans }}: {{ period.billableDuration|duration(decimal) }}">
                            {{ period.totalRate|money }}
                        </a>
                    {% endblock %}
                    {% block internal_rate %}
                        <a href="{{ path('report_user_month', {'sumType': dataType, 'date': create_date(period.date.format('Y') ~'-'~period.date.format('m')~'-01')|report_date, 'user': userPeriod.user.id}) }}" data-toggle="tooltip" title="{{ 'label.billable'|trans }}: {{ period.billableDuration|duration(decimal) }}">
                            {{ period.totalInternalRate|money }}
                        </a>
                    {% endblock %}
                    {% block duration %}
                        <a href="{{ path('report_user_month', {'sumType': dataType, 'date': create_date(period.date.format('Y') ~'-'~period.date.format('m')~'-01')|report_date, 'user': userPeriod.user.id}) }}" data-toggle="tooltip" title="{{ 'label.billable'|trans }}: {{ period.billableDuration|duration(decimal) }}">
                            {{ period.totalDuration|duration(decimal) }}
                        </a>
                    {% endblock %}
                {% endembed %}
                #}
                {% set totals = {} %}
                <table class="table table-hover dataTable">
                    <thead class="sticky-top">
                        <tr>
                            <th class="w-min"></th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            {% for month in stats.0.getDateTimes() %}
                                <th class="text-center text-nowrap">
                                    <a href="{{ path('report_monthly_users', {'date': month|report_date}) }}">
                                        {{ month|month_name }}<br>
                                        {{ month|date_format('Y') }}
                                    </a>
                                </th>
                                {% set totals = totals|merge({(month|report_date): 0}) %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for userYear in stats|filter(row => row.user is not null) %}
                        {% set usersTotalDuration = 0 %}
                        <tr class="user">
                            <td class="w-min text-nowrap">
                                {{ widgets.user_avatar(userYear.user) }}
                            </td>
                            <td class="text-nowrap">
                                {{ widgets.username(userYear.user) }}
                            </td>
                                {% for mid, month in userYear.months %}
                                    {% if month.totalDuration > 0 %}
                                        {% set usersTotalDuration = usersTotalDuration + month.totalDuration %}
                                    {% endif %}
                                {% endfor %}
                            <td class="text-nowrap text-center total">
                                {{ usersTotalDuration|duration }}
                            </td>
                            {% for mid, month in userYear.getMonths() %}
                                <td class="text-nowrap text-center day-total">
                                    {% if month.totalDuration > 0 %}
                                        <a href="{{ path('report_user_month', {'date': create_date(month.date.format('Y') ~'-'~month.date.format('m')~'-01')|report_date, 'user': userYear.user.id}) }}" data-toggle="tooltip" title="{{ 'label.billable'|trans }}: {{ month.billableDuration|duration }}">
                                            {{ month.totalDuration|duration }}
                                        </a>
                                        {% set totals = totals|merge({(month.date|report_date): (totals[month.date|report_date] + month.totalDuration)}) %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="summary">
                            <td colspan="2">{{ 'stats.durationTotal'|trans }}</td>
                            <td class="text-center">
                                {% set allTotals = 0 %}
                                {% for id, total in totals %}
                                    {% set allTotals = allTotals + total %}
                                {% endfor %}
                                {{ allTotals|duration }}
                            </td>
                            </td>
                            {% for id, total in totals %}
                                <td class="text-center text-nowrap">
                                    {{ total|duration }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            jQuery('#user-list-filter-form').on('change', function(ev) {
                jQuery(this).submit();
            });
        });
    </script>
{% endblock %}
