{% extends 'reporting/report_user_list_layout.html.twig' %}

{% block report_content %}
    {% embed 'reporting/user_list_period_data.html.twig' with {stats: stats, dataType: dataType, period_attribute: period_attribute, subReportRoute: subReportRoute, subReportDate: subReportDate, decimal: decimal} only %}
        {% block period_name %}
            <th class="text-center text-nowrap{% if column is today %} today{% endif %}">
                {{ column|date_weekday }}
            </th>
        {% endblock %}
        {% block total_rate_user %}
            <a href="{{ path(subReportRoute, {'sumType': dataType, 'date': subReportDate|report_date, 'user': userPeriod.user.id}) }}">{{ usersTotalRate|money }}</a>
        {% endblock %}
        {% block total_internal_rate_user %}
            <a href="{{ path(subReportRoute, {'sumType': dataType, 'date': subReportDate|report_date, 'user': userPeriod.user.id}) }}">{{ usersTotalInternalRate|money }}</a>
        {% endblock %}
        {% block total_duration_user %}
            <a href="{{ path(subReportRoute, {'sumType': dataType, 'date': subReportDate|report_date, 'user': userPeriod.user.id}) }}">{{ usersTotalDuration|duration(decimal) }}</a>
        {% endblock %}
        {% block rate %}
            {{ period.totalRate|money }}
        {% endblock %}
        {% block internal_rate %}
            {{ period.totalInternalRate|money }}
        {% endblock %}
        {% block duration %}
            {{ period.totalDuration|duration(decimal) }}
        {% endblock %}
        {% block period_cell_class %}{% if period.date is weekend(userPeriod.user) %} weekend{% endif %}{% if period.date is today %} today{% endif %}{% endblock %}
    {% endembed %}
{% endblock %}
