{% extends 'reporting/layout.html.twig' %}

{% block report_title %}{{ report_title|trans({}, 'reporting') }}{% endblock %}

{% block report %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_before %}
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {% endblock %}
        {% block box_after %}
            {{ form_end(form) }}
        {% endblock %}
        {% block box_title %}
            {{ form_widget(form.date) }}
        {% endblock %}
        {% block box_body_class %}{{ box_id }} table-responsive no-padding{% endblock %}
        {% block box_body %}
            <table class="table table-bordered table-hover dataTable">
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    {% for id, month in months %}
                    <th class="text-center text-nowrap">
                        <a href="{{ path('report_monthly_users', {'date': month|date_short}) }}">
                            {{ month|month_name }}<br>
                            {{ month|date_format('Y') }}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
                {% for userYear in rows %}
                    {% set usersTotalDuration = 0 %}
                    <tr class="user">
                        <td class="text-nowrap">
                            <strong>{{ widgets.username(userYear.user) }}</strong>
                        </td>
                        {% for yid, year in userYear.years %}
                            {% for mid, month in year.months %}
                                {% if month.totalDuration > 0 %}
                                    {% set usersTotalDuration = usersTotalDuration + month.totalDuration %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <th class="text-nowrap text-center total">
                            {{ usersTotalDuration|duration }}
                        </th>
                        {% for yid, year in userYear.years %}
                            {% for mid, month in year.months %}
                                <td class="text-nowrap text-center day-total">
                                    {% if month.totalDuration > 0 %}
                                        <a href="{{ path('report_user_month', {'date': (year.year ~'-'~month.month~'-01')|date_short, 'user': userYear.user.id}) }}" data-toggle="tooltip" title="{{ 'label.billable'|trans }}: {{ month.billableDuration|duration }}">
                                            {{ month.totalDuration|duration }}
                                        </a>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    {% for id, duration in totals %}
                        <th class="text-center text-nowrap">
                            {{ duration|duration }}
                        </th>
                    {% endfor %}
                </tr>
            </table>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            $('#{{ form.date.vars.id }}').on('change', function(ev) {
                $(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}
