{% extends 'reporting/layout.html.twig' %}

{% block report_title %}{{ report_title|trans({}, 'reporting') }}{% endblock %}

{% block report_form %}
    {{ form_start(form, {'attr': {'class': 'd-flex form-reporting align-middle', 'id': 'user-list-filter-form'}}) }}
    {{ form_row(form.date, {'label': false, 'row_attr': {'class': 'me-2'}}) }}
    {% if form.sumType.vars.choices|length > 1 %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="{{ 'display'|icon }}"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu checkbox-menu">
                <li>
                    {{ form_widget(form.sumType) }}
                </li>
            </ul>
        </div>
    {% endif %}
    <button class="btn btn-primary" formaction="{{ path(export_route) }}" type="submit"><i class="{{ 'download'|icon }}"></i></button>
    {{ form_end(form) }}
{% endblock %}

{% block report %}

    {% embed '@theme/embeds/card.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_body_class %}{{ box_id }} table-responsive {% if hasData %}p-0{% endif %} m-0{% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ widgets.nothing_found() }}
            {% else %}
                {#
                {% embed 'reporting/user_list_period_data.html.twig' %}
                    {% block period_name %}
                        <th class="text-center text-nowrap{% if column is weekend %} weekend{% endif %}{% if column is today %} today{% endif %}">
                            {{ column|date_weekday }}
                        </th>
                    {% endblock %}
                    {% block total_rate_user %}
                        <a href="{{ path(subReportRoute, {'sumType': dataType, 'date': subReportDate|report_date, 'user': userPeriod.user.id}) }}">{{ usersTotalRate|money }}</a>
                    {% endblock %}
                    {% block total_internal_rate_user %}
                        <a href="{{ path(subReportRoute, {'sumType': dataType, 'date': subReportDate|report_date, 'user': userPeriod.user.id}) }}">{{ usersTotalInternalRate|money }}</a>
                    {% endblock %}
                    {% block total_duration_user %}
                        <a href="{{ path(subReportRoute, {'sumType': dataType, 'date': subReportDate|report_date, 'user': userPeriod.user.id}) }}">{{ usersTotalDuration|duration(decimal) }}</a>
                    {% endblock %}
                    {% block rate %}
                        {{ period.totalRate|money }}
                    {% endblock %}
                    {% block internal_rate %}
                        {{ period.totalInternalRate|money }}
                    {% endblock %}
                    {% block duration %}
                        {{ period.totalDuration|duration(decimal) }}
                    {% endblock %}
                    {% block period_cell_class %}{% if period.date is weekend %} weekend{% endif %}{% if period.date is today %} today{% endif %}{% endblock %}
                {% endembed %}
                #}
                {% set absoluteTotals = 0 %}
                {% set totals = {} %}
                <table class="table table-hover dataTable">
                    <thead>
                        <tr>
                            <th class="alwaysVisible w-min"></th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            {% for day in stats.0.getDateTimes() %}
                                <th class="text-center text-nowrap{% if day is weekend %} weekend{% endif %}{% if day is today %} today{% endif %}">
                                    {{ day|date_weekday }}
                                </th>
                                {% set totals = totals|merge({(day|report_date): 0}) %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for userDay in stats %}
                        {% set usersTotalDuration = 0 %}
                        <tr class="user">
                            <td class="w-min text-nowrap">
                                {{ widgets.user_avatar(userDay.user) }}
                            </td>
                            <td class="text-nowrap">
                                {{ widgets.username(userDay.user) }}
                            </td>
                            {% for day in userDay.days %}
                                {% if day.totalDuration > 0 %}
                                    {% set usersTotalDuration = usersTotalDuration + day.totalDuration %}
                                    {% set absoluteTotals = absoluteTotals + day.totalDuration %}
                                {% endif %}
                                {% set totals = totals|merge({(day.date|report_date): (totals[day.date|report_date] + day.totalDuration)}) %}
                            {% endfor %}
                            <td class="text-nowrap text-center total">
                                <a href="{{ path(subReportRoute, {'date': subReportDate|report_date, 'user': userDay.user.id}) }}">{{ usersTotalDuration|duration }}</a>
                            </td>
                            {% for day in userDay.days %}
                                <td class="text-nowrap text-center day-total{% if day.date is weekend %} weekend{% endif %}{% if day.date is today %} today{% endif %}">
                                    {% if day.totalDuration > 0 %}
                                        {{ day.totalDuration|duration }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="summary">
                            <td colspan="2">{{ 'stats.durationTotal'|trans }}</td>
                            <td class="text-center text-nowrap">
                                {{ absoluteTotals|duration }}
                            </td>
                            {% for id, duration in totals %}
                                <td class="text-center text-nowrap">
                                    {{ duration|duration }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            jQuery('#user-list-filter-form').on('change', function(ev) {
                jQuery(this).submit();
            });
        });
    </script>
{% endblock %}
