{% extends 'reporting/layout.html.twig' %}

{% block report_title %}{{ report_title|trans({}, 'reporting') }}{% endblock %}

{% block report %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% from "macros/widgets.html.twig" import nothing_found, action_button %}
        {% block box_before %}
            {{ form_start(form, {'attr': {'class': 'form-inline form-reporting'}}) }}
        {% endblock %}
        {% block box_after %}
            {{ form_end(form) }}
        {% endblock %}
        {% block box_tools %}
            <button class="btn btn-default btn-sm" formaction="{{ path(export_route) }}" type="submit"><i class="{{ 'download'|icon }}"></i></button>
        {% endblock %}
        {% block box_title %}
            {{ form_widget(form.date) }}
        {% endblock %}
        {% block box_body_class %}{{ box_id }} table-responsive {% if hasData %}no-padding{% endif %}{% endblock %}
        {% block box_body %}
            {% if not hasData %}
                {{ nothing_found() }}
            {% else %}
                {% embed 'reporting/report_user_list_monthly_data.html.twig' %}{% endembed %}
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            jQuery('#{{ form.date.vars.id }}').on('change', function(ev) {
                jQuery(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}
