{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'dashboard.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'dashboard.subtitle'|trans }}{% endblock %}

{% block main %}

    {# blue / yellow / purple / green / black #}
    {# bar-chart / line-chart / calendar / clock-o #}

    {% for settings in dashboard_widgets %}
        {% if settings.header %}
            {{ widgets.page_header(settings.header) }}
        {% endif %}

        {%  set columnWidth = 12 / (settings.widgets|length) %}
        <div class="row">
            {% for widgetTemplate in settings.widgets %}
            <div class="col-md-{{ columnWidth }} col-sm-{{ columnWidth * 2 }} col-xs-{{ columnWidth * 4 }}">
                {% set widgetString = '{% import "macros/widgets.html.twig" as widgets %}' ~ widgetTemplate %}
                {{ include(template_from_string(widgetString)) }}
            </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
