{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'dashboard.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'dashboard.subtitle'|trans }}{% endblock %}

{% block main %}

    {# FIXME Übersetzungen hinzufügen #}

    {# blue / yellow / purple / green / black #}
    {# bar-chart / line-chart / calendar / clock-o #}
    {#
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            {{ widgets.info_box_progress('Bewilligte Stunden', 'Stunden zur Abrechnung bewilligt', 120, 10, 'star-o') }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            {{ widgets.info_box_progress('Umsatz / Monat', '70% Increase in 30 Days', 6830, 30, 'credit-card', 'black') }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            {{ widgets.info_box_progress('Stunden persönlich', 'Das ist noch nicht genug', 135, 60, 'hourglass-o') }}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            {{ widgets.info_box_progress('Anzahl Benutzer', 'Mehr ist besser!', 5, 90, 'user') }}
        </div>
    </div>
    #}

    {% if is_granted('ROLE_USER') %}
        {{ widgets.page_header('dashboard.you') }}
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('stats.durationThisMonth', timesheetUser.durationThisMonth|duration(true), 'hourglass-o', 'green') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('stats.amountThisMonth', timesheetUser.amountThisMonth|money, 'money', 'blue') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('stats.durationTotal', timesheetUser.durationTotal|duration(true), 'hourglass-o', 'red') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('stats.amountTotal', timesheetUser.amountTotal|money, 'money', 'yellow') }}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_TEAMLEAD') %}
        {{ widgets.page_header('dashboard.all') }}
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Arbeitszeit diesen Monat', timesheetGlobal.durationThisMonth|duration(true), 'hourglass-o', 'blue') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Umsatz diesen Monat', timesheetGlobal.amountThisMonth|money, 'money', 'green') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Arbeitszeit total', timesheetGlobal.durationTotal|duration(true), 'hourglass-o', 'yellow') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Umsatz total', timesheetGlobal.amountTotal|money, 'money', 'red') }}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_TEAMLEAD') %}
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Anzahl Benutzer', user.totalAmount, 'users', 'red') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Aktive Benutzer diesen Monat', timesheetGlobal.activeThisMonth, 'users', 'yellow') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Aktive Benutzer jemals', timesheetGlobal.activeTotal, 'users', 'blue') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_counter('Momentan aktiv', timesheetGlobal.activeCurrently, 'users', 'green') }}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ widgets.page_header('dashboard.admin') }}
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_more('Anzahl Aktivitäten', activity.totalAmount, '', path('admin_activity'), 'tasks', 'purple') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_more('Anzahl Projekte', project.totalAmount, '', path('admin_project'), 'book', 'yellow') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {{ widgets.info_box_more('Anzahl Benutzer', user.totalAmount, ' ', path('admin_user'), 'users') }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                {# FIXME #}
                {{ widgets.info_box_more('Momentan aktiv', timesheetGlobal.activeCurrently, '', '#', 'hourglass-o', 'red') }}
            </div>

        </div>
    {% endif %}

{% endblock %}
