{% extends 'base.html.twig' %}
{% block page_title %}{{ 'http_error.title'|trans({}, 'exceptions') }}{% endblock %}
{% block page_subtitle %}{{ status_code }}{% endblock %}

{% block main %}
    {% set errorTitleKey = "http_error_#{status_code}.description" %}
    {% set errorTitleTrans = errorTitleKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% if errorTitleKey == errorTitleTrans %}
        {% set errorTitleKey = 'http_error.description' %}
        {% set errorTitleTrans = errorTitleKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% endif %}

    {% set errorMessageKey = "http_error_#{status_code}.suggestion" %}
    {% set errorMessageTrans = errorMessageKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% if errorMessageKey == errorMessageTrans %}
        {% set errorMessageKey = 'http_error.suggestion' %}
        {% set errorMessageTrans = errorMessageKey|trans({ '%status_code%': status_code }, 'exceptions') %}
    {% endif %}

    <div class="error-page">
        <h2 class="headline text-yellow"> {{ status_code }}</h2>

        <div class="error-content">
            <h3><i class="fa fa-unlock-alt text-yellow"></i> {{ errorTitleTrans }}</h3>
            <p>{{ errorMessageTrans }}</p>
        </div>
    </div>
{% endblock %}

{% block avanzu_control_sidebar %}{% endblock %}
{% block avanzu_navbar_control_sidebar_toggle %}{% endblock %}
