{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}
{% import "macros/actions.html.twig" as actions %}

{% block page_title %}{{ 'admin_project.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'admin_project.subtitle'|trans }} {{ 'subtitle.amount'|trans({'%count%': entries.count}) }}{% endblock %}
{% block page_actions %}{{ actions.projects('index') }}{% endblock %}

{% block main_before %}
    {{ toolbar.toolbar(toolbarForm, 'collapseProjectAdmin', showFilter) }}
{% endblock %}

{% block main %}

    {% if entries.count == 0 %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% else %}
        {% set columns = {
            'name': 'alwaysVisible',
            'customer': '',
            'comment': 'hidden-xs hidden-sm',
            'budget': 'hidden-xs',
            'visible': 'hidden-xs',
            'actions': 'alwaysVisible',
        } %}

        {% set tableName = 'project_admin' %}

        {{ tables.data_table_header(tableName, columns) }}

        {% for entry in entries %}
            <tr>
                <td>{{ entry.name }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'customer') }}">
                    <a href="{{ path('admin_customer_edit', {'id' : entry.customer.id}) }}">{{ widgets.label_customer(entry.customer) }}</a>
                </td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'comment') }}">{{ entry.comment }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'budget') }}">{{ entry.budget|money(entry.customer.currency) }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
                <td>
                    {{ actions.project(entry, 'index') }}
                </td>
            </tr>
        {% endfor %}

        {{ tables.data_table_footer(entries, 'admin_project_paginated') }}
    {% endif %}

{% endblock %}
