{% extends 'datatable.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "project/actions.html.twig" as actions %}

{% block page_title %}{{ 'projects'|trans }}{% endblock %}
{% block page_actions %}{{ actions.projects('index', dataTable.getQuery()) }}{% endblock %}

{% block datatable_row %}
    <tr {{ widgets.project_row_attr(entry, now) }}>
        <td class="{{ tables.class(dataTable, 'name') }}">
            {{ widgets.label_name(entry.name, entry.color|colorize(entry.name)) }}
        </td>
        <td class="{{ tables.class(dataTable, 'customer') }}">{{ widgets.label_customer(entry.customer) }}</td>
        <td class="{{ tables.class(dataTable, 'comment') }}">{{ entry.comment|comment1line }}</td>
        <td class="{{ tables.class(dataTable, 'orderNumber') }}">{{ entry.orderNumber }}</td>
        <td class="{{ tables.class(dataTable, 'orderDate') }}">{% if entry.orderDate is not null %}{{ entry.orderDate|date_short }}{% endif %}</td>
        <td class="{{ tables.class(dataTable, 'project_start') }}">{% if entry.start is not null %}{{ entry.start|date_short }}{% endif %}</td>
        <td class="{{ tables.class(dataTable, 'project_end') }}">{% if entry.end is not null %}{{ entry.end|date_short }}{% endif %}</td>
        {% for field in metaColumns %}
            <td class="{{ tables.class(dataTable, 'mf_' ~ field.name) }}">
                {{ tables.datatable_meta_column(entry, field) }}
            </td>
        {% endfor %}
        <td class="{{ tables.class(dataTable, 'budget') }}">
            {% if entry.hasBudget() and is_granted('budget', entry) %}
                {{ entry.budget|money(entry.customer.currency) }}
            {% else %}
                &ndash;
            {% endif %}
        </td>
        <td class="{{ tables.class(dataTable, 'timeBudget') }}">
            {% if entry.hasTimeBudget() and is_granted('time', entry) %}
                {{ entry.timeBudget|duration }}
            {% else %}
                &ndash;
            {% endif %}
        </td>
        <td class="{{ tables.class(dataTable, 'team') }}">{{ widgets.badge_team_access(entry.teams) }}</td>
        <td class="{{ tables.class(dataTable, 'visible') }}">{{ widgets.label_visible(entry.visible) }}</td>
        <td class="{{ tables.class(dataTable, 'actions') }}">{{ actions.project(entry, 'index') }}</td>
    </tr>
{% endblock %}
