{% extends 'user/layout.html.twig' %}

{% block main %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_title %}{{ ('profile.' ~ tab)|trans }}{% endblock %}
        {% block box_tools %}
            <a class="btn btn-box-tool" target="_blank" href="{{ path('app.swagger_ui') }}"><i class="{{ 'api'|icon('fas fa-book') }}"></i></a>
            <a class="btn btn-box-tool" target="_blank" href="{{ 'rest-api.html'|docu_link }}"><i class="{{ 'help'|icon }}"></i></a>
        {% endblock %}
        {% block box_body %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}

{% endblock %}
