{% extends 'user/form.html.twig' %}

{% block form_content %}

    {% form_theme form 'form/horizontal.html.twig' %}

    {{ form_row(form._token) }}

    <fieldset class="form-fieldset">
        <legend>{{ 'work_times_should'|trans }}</legend>
        <div class="form-text mb-3 help-text">{{ 'work_times_should.help'|trans  }}</div>
        {{ form_row(form.workHoursMonday) }}
        {{ form_row(form.workHoursTuesday) }}
        {{ form_row(form.workHoursWednesday) }}
        {{ form_row(form.workHoursThursday) }}
        {{ form_row(form.workHoursFriday) }}
        {{ form_row(form.workHoursSaturday) }}
        {{ form_row(form.workHoursSunday) }}
    </fieldset>

    <fieldset class="form-fieldset">
        {{- form_rest(form) -}}
    </fieldset>

{% endblock %}
