{% extends 'user/layout.html.twig' %}

{% block profile_content %}

    {% import "user/actions.html.twig" as actions %}
    {% set event = actions(app.user, 'user_forms', tab, {'user': user}) %}

    {{ form_start(form) }}
    <div class="card">
        <ul class="nav nav-tabs" data-bs-toggle="tabs">
            {% for name, settings in event.actions %}
                <li class="nav-item">
                    <a href="{{ settings.url }}" class="nav-link{% if tab == name %} active{% endif %}">{{ settings.title|trans({}, settings.translation_domain ?? 'messages') }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="card-body">
            {% block form_pre_content %}{% endblock %}
            {% block form_content %}
                {{ form_widget(form) }}
            {% endblock %}
            {% block form_post_content %}{% endblock %}
        </div>
        <div class="card-footer">
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
