{% extends 'datatable.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "user/actions.html.twig" as actions %}

{% block page_title %}{{ 'users'|trans }}{% endblock %}

{% block page_actions %}{{ actions.users('index', dataTable.getQuery()) }}{% endblock %}

{% block datatable_row %}
    <tr {{ widgets.user_row_attr(entry) }}>
        <td class="{{ tables.class(dataTable, 'avatar') }}">{{ widgets.user_avatar(entry, false) }}</td>
        <td class="{{ tables.class(dataTable, 'alias') }}">{{ widgets.username(entry) }}</td>
        <td class="{{ tables.class(dataTable, 'account_number') }}">{{ entry.accountNumber }}</td>
        <td class="{{ tables.class(dataTable, 'title') }}">{{ entry.title }}</td>
        <td class="{{ tables.class(dataTable, 'email') }}">{{ entry.email }}</td>
        <td class="{{ tables.class(dataTable, 'lastLogin') }}">{% if entry.lastLogin is not null %}{{ entry.lastLogin|date_time }}{% endif %}</td>
        <td class="{{ tables.class(dataTable, 'roles') }}">
            {% set showUserRole = entry.roles|length == 1 %}
            {% for role in entry.roles %}
                {% if showUserRole or role != 'ROLE_USER' %}
                    {{ widgets.label_role(role) }}
                {% endif %}
            {% endfor %}
        </td>
        {% for pref in preferences %}
            <td class="{{ tables.class(dataTable, 'mf_' ~ pref.name) }}">
                {% set metaField = entry.preference(pref.name) %}
                {% if not metaField is null and metaField.value is not null and metaField.value is not empty %}
                    {{ widgets.form_type_value(pref.type, metaField.value, entry) }}
                {% endif %}
            </td>
        {% endfor %}
        <td class="{{ tables.class(dataTable, 'team') }}">
            {{ widgets.badge_team_access(entry.teams) }}
        </td>
        <td class="{{ tables.class(dataTable, 'active') }}">{{ widgets.label_visible(entry.enabled) }}</td>
        <td class="{{ tables.class(dataTable, 'actions') }}">{{ actions.user(entry, 'index') }}</td>
    </tr>
{% endblock %}
