{% extends 'base.html.twig' %}
{% import "user/actions.html.twig" as actions %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'users'|trans }}{% endblock %}
{% block page_actions %}{{ actions.user(user, tab) }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            {% block profile_intro %}
                <div class="card mb-3">
                    <div class="card-body box-user-profile">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto" data-toggle="tooltip" title="{{ 'label.id'|trans }}: {{ user.id }}">
                                {{ widgets.user_avatar(user, false, 'avatar-lg') }}
                            </div>
                            <div class="col">
                                <h4 class="card-title m-0">{{ widgets.username(user) }}</h4>
                                {% if user.title is not empty %}
                                <div class="text-muted">
                                    {{ user.title }}
                                </div>
                                {% endif %}
                                {#
                                <div class="small mt-1">
                                    <span class="badge bg-green"></span> Online
                                </div>
                                #}
                            </div>
                            <div class="col-auto">
                                <a class="btn" href="mailto:{{ user.email }}" title="{{ 'label.email'|trans }}">
                                    {{ icon('mail') }}
                                    {{ 'label.email'|trans }}
                                </a>
                            </div>
                            {#
                            <div class="col-auto">
                                <div class="dropdown">
                                    <a href="#" class="card-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/dots-vertical -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="19" r="1"></circle><circle cx="12" cy="5" r="1"></circle></svg>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#" class="dropdown-item">Import</a>
                                        <a href="#" class="dropdown-item">Export</a>
                                        <a href="#" class="dropdown-item">Download</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                    </div>
                                </div>
                            </div>
                            #}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block profile_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
