{% extends 'base.html.twig' %}
{% import "user/actions.html.twig" as actions %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'admin_user.title'|trans }}{% endblock %}
{% block page_actions %}{{ actions.user(user, tab) }}{% endblock %}
{% block page_views %}{{ actions.users_views('index', user) }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            {% block profile_intro %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ widgets.user_avatar(user, false, 'avatar-md') }}
                        {{ user.displayName }}
                        {% if user.title is not empty %} &ndash; {{ user.title }} {% endif %}
                    </div>
                </div>
            {% endblock %}
            {% block profile_content %}{% endblock %}
            {% block profile_navbar %}{% endblock %}
        </div>
    </div>
{% endblock %}
