{% extends 'base.html.twig' %}
{% import "user/actions.html.twig" as actions %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'users'|trans }}{% endblock %}
{% block page_actions %}{{ actions.user(user, tab) }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-12">
            {% block profile_intro %}
                <div class="card mb-3">
                    <div class="card-body box-user-profile">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto" data-toggle="tooltip" title="{{ 'label.id'|trans }}: {{ user.id }}">
                                {{ widgets.user_avatar(user, false, 'avatar-lg') }}
                            </div>
                            <div class="col">
                                <h4 class="card-title m-0">{{ widgets.username(user) }}</h4>
                                {% if user.title is not empty %}
                                <div class="text-muted">
                                    {{ user.title }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                {% from '@theme/components/buttons.html.twig' import link_button %}
                                {{ link_button('label.email'|trans, ('mailto:' ~ user.email), 'mail', 'default') }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block profile_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
