{% extends 'user/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% for formName, form in forms %}
                        <li {% if tab == formName %}class="active"{% endif %}><a href="#{{ formName }}" data-toggle="tab" aria-expanded="false">{{ ('profile.' ~ formName)|trans }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for formName, form in forms %}
                        <div class="tab-pane {% if tab == formName %}active{% endif %}" id="{{ formName }}">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
                            {{ form_end(form) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
