{% set url = null %}
{% if options.route is defined %}
    {% set url = path(options.route, options.routeOptions|default([])) %}
{% endif %}

<div class="card card-sm">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="bg-{{ options.color|default('green') }} text-white avatar">
                    <i class="{{ options.icon|icon(options.icon) }}"></i>
                </span>
            </div>
            <div class="col">
                {% if not url is empty %}<a href="{{ url }}">{% endif %}
                <div class="font-weight-medium">
                    {{ title|trans }}
                </div>
                <div class="text-muted">
                    {% if data is iterable %}
                        {{ 'Invalid data' }}
                    {% else %}
                        {% block widget_data %}
                            {% if options.dataType == 'duration' %}
                                {% set data = data|duration %}
                            {% elseif options.dataType == 'money' %}
                                {% set data = data|money %}
                            {% endif %}
                            {{ data }}
                        {% endblock %}
                    {% endif %}
                </div>
                {% if not url is empty %}</a>{% endif %}
            </div>
        </div>
    </div>
</div>
